
body {
    overflow-x: hidden;
}

.fontPoppins {
    font-family: 'Poppins';
}

.titulo{
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #4F46E5;
}

#colorTabla{
    background-color: #6C757D;
}

.coloTabla th,colorTabla td{
    background-color: #6C757D;
}

.subtitulo {
    font-size: 16px;
    line-height: 20px;
    color: #6C757D;
}

.estiloBoton{
    color: #4F46E5;
    outline-color: #4F46E5;
}

.hBtn:hover{
    background-color: #4F46E5;
    color: white;
}



.estiloInputs{
    border-color: #4F46E5;
    border-style: solid;
    border-width: .4px;
    width: 35%;
    color: #6C757D;
}

.textoInputs {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #213635;
}

.line {
    width: 14%;
    border-bottom: 2px solid #6366F1;
}


.colorFondo{
    background-color: #F5F5F5;
}


.localizacion{
    background-color: #4F46E5; 
}

.camino{
    border-radius: 15px;
    font-size: smaller;
}
.camino:hover{
    background-color: #4F46E5;
    color:#F5F5F5;
}

.breadcrumb {
  border: 0px solid rgb(43, 42, 139); 
  border-radius: 15px; 
  display: block;
  width:auto;
  align-items: center;
  align-self: center;
}

.btn-bread{
    margin-top:10px;
    font-size: 12px;
    border-radius: 53px;
    background-color: #4F46E5;
}


.btn-sky {
    height: 2.1cm; width: 4.7cm;
    background-color: #F5F5F5;
    border-radius: 15px;
    font-size: 22px; 
    margin: 0.55cm;
    color:#4F46E5; font-weight: bold; 
    line-height: 1.8cm;
}

.cuadro {
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 5px; 
    border-radius: 7px; 
    background-color: #F5F5F5;
    width: 15cm;
    height: 14cm;
    margin-left: 1.7cm;
}


.titulo-cuadro {
    font-weight: 50px;
    font-size: 20px;
    line-height: 60px;
    color: #4F46E5;
    margin-left:1cm;
}
.campo label {
    display: flex;
    margin-bottom: 5px;
    color: #818CF8;
    margin-left: 10%;
}

/*------------------ Estilo Modal ---------------------*/

.modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}
/*------------------ Estilo Modal ---------------------*/

.campo input,
.campo select {
    width: 90%;
    padding: 5px;
    border: 1px solid #6366F1;
    border-radius: 7px;
    margin-left: 1cm;
}

.divApartados{
    margin-top: 1.8cm; margin-left: 20%; 
    margin-bottom: 1cm;

}
.apartadosBtn{
    height: 2.1cm; width: 4.7cm;
    background-color: #F5F5F5;
    border-radius: 15px;
    font-size: 22px; 
    margin: 0.55cm;
    color:#4F46E5; font-weight: bold; 
    line-height: 1.8cm;
}

.how-section1 p{
    color: black;
    font-size: 14px; text-align: justify;
    font-family: sans-serif;
    width: 140%;
}
.how-section1 .row{
    margin-top: 5%;
}
.how-section1 {
    width: 100%;
}
.how-img img{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.how-img {
    text-align:right;
}

.colorFondoAgregar{
    background-color: #BFBFBF;
}

.estiloPocentaje{
    font-size: 90px;
    font: bolder;
    color: #6366F1;
}
/*----------------Footer------------------------*/

footer{
    font-family: 'Poppins';
    margin-top: 3em;
    color: #818CF8;
}

footer hr {
    height: 2px; /* Altura del HR */
    background-color: #A5B4FC; /* Color del HR */
    margin: 20px 0; /* Espacio alrededor del HR */
}

.tituloFooter{
    font-style: normal;
    font-weight: 600;

    line-height: 18px;
}
.textoFooter{
    color: #6C757D;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    text-align: center;
}
.suneoFooter{
    width: 50%;
    height: auto;
}
.unsijFooter{
    width: 20%;
    height: auto;
}

/*----------------Footer------------------------*/


/*----------------Nav------------------------*/

.navbar {
    margin-top: 20px;
    margin-left: 20px; /* Margen a la izquierda */
    margin-right: 20px; /* Margen a la derecha */   
    font-size: 20px;
    border-radius: 2%;
}

.navbar-nav .nav-link {
    color: #313d30; /* Color de las letras */
    margin-right: 25px;
}
.nav-link:hover{
    font-weight: bold;
    font-size: 20px;
}
  
.dropdown-item:hover{
    font-weight: bold;
}

/*----------------Nav------------------------*/

/*Botones de Menu Alumnos*/
.btnMenuAlumno {
    font-size: 1.55rem; /* Tamaño de fuente más grande */
    padding: 0.50rem 1.5rem; /* Aumentar el relleno */
    width: 250%;
    background-color: #F5F5F5;
    border-color: #F5F5F5;
    border-radius: 14px;
}

.letraBotonA {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #4F46E5;
}

.letraBotonB {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #4F46E5;
}

/* Cambiar el color al pasar el cursor */
.btnMenuAlumno:hover {
    /* Auto layout */
    background: #6366F1;
    border-radius: 14px;
}

.btnMenuAlumno:hover p,
.btnMenuAlumno:hover div {
    color: white;
}

/*Fondo Formulario datos personales*/
.custom-background {
  /* Rectangle 9 */
    background: #F5F5F5;
    border-radius: 26px;
}
.letraNav{
    color: #4F46E5;
}

/*----------------todasSolicitudes--------------*/
.cboton{
    border: none;
    background-color: #F5F5F5;
    border-radius: 15px;
    margin-bottom: 1em;
    text-align: center;
    font-size: 20px;
    padding-left: 2.5em;
    padding-right: 2.5em;
}
.cboton:hover{
    background-color: #4F46E5;
    color: white;
}
.filasSolicitudes{
    border-bottom: 1px solid #4F46E5;
}
/*----------------todasSolicitudes--------------*/

/*----------------Solicitudes Pendientes-------------*/
#tablaSolicitudes {
    border-radius: 15px;
    overflow: hidden;
    background-color: #F5F5F5; 
    margin-left: auto;
    margin-right: auto;
}


#tablaSolicitudes th, #tablaSolicitudes td {
    background-color: #F5F5F5; 
}


.formCambiarContraseña label {
	width: 100%;
	display: inline-block;
	font-weight: bold;
	margin-bottom: 5px;
}
.formCambiarContraseña label.error {
	float: left;
	color: red;
	font-weight: normal;
	padding-left: .5em;
	vertical-align: top;
}

 /* Estilos personalizados para los mensajes de error */
/*MENSAJE DE ERROR*/
.error {
    color: red;
    font-size: 1em;
}




#rutaArchivoComprobante input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #4F46E5; /* Color del borde */
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px; /* Bordes redondeados */
    color: #4F46E5; /* Color del texto */
    background-color: white; /* Color de fondo */
    text-align: center;
}
/* Estilo para el estado de enfoque */
.custom-file-upload:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.5);
}

/* Estilo para el estado de hover */
.custom-file-upload:hover {
    background-color: #F0F0FF; /* Color de fondo al pasar el ratÃ³n */
}

.no-border {
    border: none; /* Sin bordes */
    background: none; /* Sin fondo */
    pointer-events: none; /* No se puede hacer clic ni enfocar */
    color: inherit; /* Hereda el color del texto */
    font: inherit; /* Hereda la fuente del texto */
    padding: 0; /* Sin padding */
    margin: 0; /* Sin margen */
    outline: none; /* Sin outline al enfocar */
}

/* ESTILO CALENDARIO */

/* Custom CSS for Datepicker */
.datepicker-dropdown {
    background-color: #f8f9fa; /* Light grey background */
    border: 1px solid #ddd; /* Light border */
    border-radius: 0.25rem; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.datepicker table {
    width: 100%;
    margin: 0;
}

.datepicker td, .datepicker th {
    border-radius: 0.25rem; /* Slight rounding of corners */
    padding: 0.5rem; /* More padding for larger clickable area */
}

.datepicker td.day:hover, .datepicker td.day.focused {
    background: #007bff; /* Bootstrap primary color */
    color: #fff; /* White text */
}

.datepicker .today {
    background-color: #007bff; /* Highlight today with primary color */
    color: #fff; /* White text */
}

.datepicker .active {
    background-color: #28a745; /* Active date with success color */
    color: #fff; /* White text */
}

.datepicker .disabled {
    color: #6c757d; /* Grey out disabled dates */
    background-color: #e9ecef; /* Light grey background for disabled dates */
    cursor: not-allowed;
}


/* FIN ESTILO CALENDARIO */
