<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Administrar fechas</title>
</head>
<body>

<nav th:insert="~{navAdministrador.html}"></nav>

<div class="container mt-3 ps-5">
    <div class="row">
        <ol class="p-1 colorFondo breadcrumb bread-primary">
            <a th:href="@{/administrador/menuAdministrador}" style="text-decoration: none;">
                <button class="btn camino">Inicio</button>
            </a>
            <a href="administrarFecha.html" style="text-decoration: none;">
                <button class="btn btn-primary camino" style="background-color: #4F46E5;">Fechas</button>
            </a>
        </ol>
    </div>
</div>

<main class="">

    <div class="d-flex flex-column align-items-center mb-5 ms-2 me-2">
        <h1 class="titulo text-center">Administrar fechas</h1>
        <p class="text-center fontPoppins colorMorado">Se asignan fechas por carrera para abrir y cerrar el formulario socioeconómico</p>
    </div>

    <div class="d-flex justify-content-center">
        <button class="btn btn-primary mb-4 ms-5" style="background-color:#4F46E5;" onclick="mostrarModalFecha()"><img src="../img/calendario.png" style="width: 15%;" alt=""> Agregar fecha</button>
    </div>

    <!-- Mensaje de error en la parte superior -->
    <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
        <span th:text="${errorMessage}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <!-- Ventana modalFecha -->
    <div id="modalFecha" class="modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mx-auto" style="color: #4F46E5;">Agregar fecha</h5>
                </div>
                <div class="modal-body">

                    <div class="modal-body">
                        <form th:action="@{/administrador/guardarFecha}" method="post" autocomplete="off">
                            <div class="mb-3">
                                <label for="carreraSelectFecha" class="form-label">Carrera</label>
                                <select id="carreraSelectFecha" name="carreraFecha" class="form-select">
                                    <option th:each="carrera : ${carreras}" th:value="${carrera.idCatCarrera}" th:text="${carrera.carrera}"></option>
                                </select>
                            </div>

                            <div class="row input-group input-daterange">
                                <div class="col-6 mb-3">
                                    <label for="start" class="form-label">Fecha inicial</label>
                                    <input type="text" id="start" name="fechaInicio" class="form-control">
                                </div>
                                <div class="col-6 mb-3">
                                    <label for="end" class="form-label">Fecha final</label>
                                    <input type="text" id="end" name="fechaFin" class="form-control">
                                </div>
                            </div>

                            <div class="modal-footer mx-auto d-flex justify-content-center">
                                <button type="button" class="btn btn-danger me-5" onclick="cerrarModalFecha()">Cancelar</button>
                                <button type="submit" class="btn btn-outline-primary hBtn estiloBoton">Agregar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Ventana modalFechaEdit -->
    <div id="modalFechaEdit" class="modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mx-auto" style="color: #4F46E5;">Editar fecha</h5>
                </div>
                <div class="modal-body">
                    <form th:action="@{/administrador/actualizarFecha}" method="post" autocomplete="off">
                        <input type="hidden" id="fechaId" name="idFechasRegistradas">

                        <div class="mb-3">
                            <label for="carreraSelectFecha2" class="form-label">Carrera</label>
                            <select id="carreraSelectFecha2" name="idCatCarrera" class="form-select">
                                <option th:each="carrera : ${carreras}" th:value="${carrera.idCatCarrera}" th:text="${carrera.carrera}"></option>
                            </select>
                        </div>

                        <div class="row input-group input-daterange">
                            <div class="col-6 mb-3">
                                <label for="start1" class="form-label">Fecha inicial</label>
                                <input type="text" id="start1" name="fechaInicio" class="form-control" >
                            </div>
                            <div class="col-6 mb-3">
                                <label for="end1" class="form-label">Fecha final</label>
                                <input type="text" id="end1" name="fechaFin" class="form-control">
                            </div>
                        </div>

                        <div class="modal-footer mx-auto">
                            <button type="button" class="btn btn-danger hBtn me-5" onclick="cerrarModalFechaEdit()">Cancelar</button>
                            <button type="submit" class="btn btn-outline-primary hBtn estiloBoton">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="table-responsive">
            <table id="tablaSolicitudes" class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" style="color: #4F46E5;">Eliminar</th>
                    <th scope="col"></th>
                    <th scope="col" style="color: #4F46E5;">Actualizar</th>
                    <th scope="col" style="color: #4F46E5;">Carrera</th>
                    <th scope="col" style="color: #4F46E5;">Fecha inicial</th>
                    <th scope="col" style="color: #4F46E5;">Fecha final</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="fechaRegistrada : ${fechasRegistradas}">
                    <td>
                        <form th:action="@{/administrador/eliminarFecha}" method="post">
                            <input type="hidden" th:name="idFechasRegistradas" th:value="${fechaRegistrada.idFechasRegistradas}">
                            <button type="submit" style="border: none; background: none; padding: 0; margin: 0;">
                                <img class="iconoAdminAlumnos" src="../img/eliminar.png" alt="Eliminar">
                            </button>
                        </form>
                    </td>
                    <td>
                    <td>
                    <a onclick="mostrarDatosModal(
                            '${fechaRegistrada.idFechasRegistradas}',
                            '${fechaRegistrada.carrera.idCatCarrera}',
                            '${fechaRegistrada.carrera.idCatCarrera}',
                            '${fechaRegistrada.fechaInicio}',
                            '${fechaRegistrada.fechaFin}')">
                        <img class="iconoAdminAlumnos" src="../img/actualizar.png" alt="Actualizar">
                    </a>

                </td>
                    </td>
                    <td class="subtitulo" th:text="${fechaRegistrada.carrera.carrera}"></td>
                    <td class="subtitulo" th:text="${#dates.format(fechaRegistrada.fechaInicio, 'dd-MM-yyyy')}"></td>
                    <td class="subtitulo" th:text="${#dates.format(fechaRegistrada.fechaFin, 'dd-MM-yyyy')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>



</main>

<footer th:insert="~{footer.html}"></footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
<script src="../javaScript.js/funcionamiento.js"></script>

</body>

</html>
