<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

	<!-- Cargar jQuery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

	<title>Datos personales</title>
</head>
<body>
<header  th:insert="fragments/navAlumnos.html :: menu-nav">
</header>

<header>
	<div class="container mt-3 ms-3" style="width: 90%;" >
		<div class="row" >
			<ol class="p-1 colorFondo breadcrumb bread-primary ">
				<a th:href="@{/}" style="text-decoration: none;">
					<button class="btn camino" id="botonInicio" >Inicio</button>
				</a>
				<a th:href="@{/alumno/menuSolicitar}" style="text-decoration: none;">
					<button class="btn camino" id="botonInicio" >Estudio socioeconomico</button>
				</a>
				<a  style="text-decoration: none;">
					<button class="btn btn-primary camino localizacion"  style="background-color: #4F46E5;" >Mis datos</button>
				</a>
			</ol>
		</div>
	</div>
</header>


<form th:action="@{/alumno/saveMisDatos}" method="post" th:object="${formMisDatos}" id="myForm" name="myForm">

	<!-- RECORDATORIO -->
	<!-- Los siguientes atributos no se deben mover: -->
	<!--
        1- Los elementos que tengan el sufuji " th:elemento ". Ej: th:value, th:field th:name
        2- id=" "
        3- Value=" "
     -->




	<!-- Estos datos son importantes para realizar operaciones y obtener los datos de la BD  -->
	<!-- No se mostraran en la vistan, no deben de eliminarse -->
	<input hidden id="idGrupo" value="alumno.catGrupo.idCatGrupo" th:field="*{alumno.catGrupo.idCatGrupo}" name="alumno.catGrupo.idCatGrupo" >
	<input hidden id="idCatLocalidad" value=""  name="alumno.domicilio.catLocalidad.idCatLocalidad"  th:field="*{alumno.domicilio.catLocalidad.idCatLocalidad}" >
	<input hidden id="alumno.dom"   name="alumno.domicilio.idDomicilio" th:field="*{alumno.domicilio.idDomicilio}">
	<input hidden id="idAlumno"  value="alumno.idAlumno" name="alumno.idAlumno" th:field="*{alumno.idAlumno}">
	<input hidden id="nombre" value="alumno.nombre" name="alumno.nombre" th:field="*{alumno.nombre}">
	<input hidden id="apellidoM" value="alumno.apellidoM"  name="alumno.apellidoM" th:field="*{alumno.apellidoM}">
	<input hidden id="apellidoP" value="alumno.apellidoP" name="alumno.apellidoP" th:field="*{alumno.apellidoP}">
	<input hidden id="alumno.matricula"   name="alumno.matricula" th:field="*{alumno.matricula}">
	<input hidden id="alumno.telefono"  name="alumno.telefono" th:field="*{alumno.telefono}">
	<input hidden id="alumno.curp"  name="alumno.curp" th:field="*{alumno.curp}">
	<input hidden id="alumno.infoVivienda"  name="infoVivienda.idInfoVivienda" th:field="*{infoVivienda.idInfoVivienda}">
	<input hidden id="alumno.usuario.idUser" value="alumno.usuario.idUser"  name="alumno.usuario.idUser" th:field="*{alumno.usuario.idUser}">
	<input hidden id="estadoFormularios.formMisDatos" value="estadoFormularios.formMisDatos"  name="estadoFormularios.formMisDatos" th:field="*{estadoFormularios.formMisDatos}">
	<input hidden id="estadoFormularios.idEstadoFormularios" value="estadoFormularios.idEstadoFormularios"  name="estadoFormularios.idEstadoFormularios" th:field="*{estadoFormularios.idEstadoFormularios}">
	<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

	<section>

		<h1 class="titulo ps-5 mb-2 mt-2 fw-bold fs-1">MIS DATOS</h1>
		<div class="container-auto row d-flex justify-content-center me-3 ps-3">
			<div class="col-12 col-xs-2 col-sm-12 col-md-11 col-xl-4 rounded colorFondo mt-4 ms-2 mb-2 p-2">
				<h3 style="color: #6366F1;">Información general</h3>
				<div class="row">
					<div class="col-sm-4 col-md-4 col-lg-4 col-xl-12 pt-3">
						<p class="textoInputs">Nombre Completo</p>
						<input readonly type="text" class="form-control estiloInputs rounded" style="width: 100%;" id="inputNombreCompleto" >
						<div id="resultField"></div>
					</div>


					<div class="col-sm-4 col-12 col-md-4 col-lg-4 col-xl-6 pt-3">
						<p class="textoInputs">Carrera</p>
						<input readonly type="text" class="form-control estiloInputs estiloInputs rounded" style="width: 100%;" id="inputNombreCarrera">
					</div>


					<div class="col-sm-4 col-12 col-md-4 col-lg-4 col-xl-6 pt-3">
						<p class="textoInputs">Semestre</p>
						<input readonly type="text" class="form-control estiloInputs estiloInputs rounded" style="width: 100%;" id="inputNombreSemestre">
					</div>
				</div>


				<div class="col-md-12 pt-3">
					<p class="textoInputs">Estado Civil</p>
					<div id="estadoCivilError" class="error" style="display: none;">*Debes seleccionar tu estado civil</div>
					<div style="display: flex; justify-content: space-between;" class="containerEstadoCivil">
			
						<div style="width: 48%;">
							<div class="form-check">
								<input class="form-check-input" type="radio" th:field="*{alumno.catEstadoCivil.idCatEstadoCivil}" name="alumno.catEstadoCivil.idCatEstadoCivil" id="flexRadioEC1" value="1">
								<p class="subtitulo">Soltero</p>
							</div>
						</div>
						<div style="width: 48%;">
							<div class="form-check">
								<input class="form-check-input" type="radio" th:field="*{alumno.catEstadoCivil.idCatEstadoCivil}" name="alumno.catEstadoCivil.idCatEstadoCivil" id="flexRadioEC2" value="2">
								<p class="subtitulo">Casado</p>
							</div>
						</div>
						<div style="width: 48%;">
							<div class="form-check">
								<input class="form-check-input" type="radio" th:field="*{alumno.catEstadoCivil.idCatEstadoCivil}" name="alumno.catEstadoCivil.idCatEstadoCivil" id="flexRadioEC3" value="3">
								<p class="subtitulo">Divorciado</p>
							</div>
						</div>
						<div style="width: 48%;">
							<div class="form-check">
								<input class="form-check-input" type="radio" th:field="*{alumno.catEstadoCivil.idCatEstadoCivil}" name="alumno.catEstadoCivil.idCatEstadoCivil" id="flexRadioEC4" value="4">
								<p class="subtitulo">Viudo</p>
							</div>
						</div>

					</div>
				</div>
				<div class="col-md-12 pt-3">
					<p class="textoInputs">¿Tienes los recursos económicos necesarios para tus actividades académicas?</p>
					<div style="display: flex; justify-content: space-between;" class="containerRecursosSuficientes">
						<div style="width: 48%;">
							<div class="form-check">
								<input class="form-check-input" type="radio" th:field="*{alumno.recursosSuficientes}" name="alumno.recursosSuficientes" id="flexRadioDefault1" value="1">
								<p class="subtitulo">Si</p>
							</div>
						</div>
						<div style="width: 48%;">
							<div class="form-check">
								<input class="form-check-input" type="radio" th:field="*{alumno.recursosSuficientes}" name="alumno.recursosSuficientes" id="flexRadioDefault2" value="0">
								<p class="subtitulo">No</p>
							</div>
						</div>
					</div>
				</div>



				<div class="col-12 mt-3">
					<p class="textoInputs">¿Solicitas beca alimentaria?</p>

					
					<div style="display: flex; justify-content: space-between;" class="containerSolicitaBeca">
						<div style="width: 100%;">
							<div class="form-check">
								<input value="1" class="form-check-input" th:field="*{alumno.solicitaBecaAlimenticia}" type="radio" name="alumno.solicitaBecaAlimenticia" id="flexRadioDefault100">
								<label   class="form-check-label" for="flexRadioDefault1" >
									<p class="subtitulo">Si</p>
								</label>
							</div>
						</div>
						<div style="width: 100%;">
							<div class="form-check">
								<input name="alumno.solicitaBecaAlimenticia"
								 th:field="*{alumno.solicitaBecaAlimenticia}" value="0"
								  class="form-check-input" type="radio"  id="flexRadioDefault100">
								<label class="form-check-label" for="flexRadioDefault2">
									<p class="subtitulo">No</p>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="col-12 col-xs-2 col-sm-12 col-md-11 col-xl-7 rounded ms-2 mb-2 mt-4 p-2">
				<div class="colorFondo p-2 rounded">
					<h3 style="color: #6366F1; padding-bottom: 1%;">Domicilio</h3>
					<div class="col-md-12">
						<p class="textoInputs">Marque la opción que mejor describa tu situación de vivienda:</p>
					</div>
					<!-- ********************************************************************* -->
					<!--En este div se muestra un mensaje cuando el usuario quiere enviar el formulario pero no ha seleccionado un campo de esta seccion -->

					<div id="situacionViviendaError" class="error" style="display: none;">*Debes seleccionar una opción</div>

					<!-- ********************************************************************* -->

					<div class="col-md-12">
						<div style="display: flex; justify-content: space-between;">
							<div style="width: 48%;" th:each="catSituacion: ${catSituacionViviendaUni}">
								<div class="form-check">
									<input id="situacion${catSituacion.idCatSituacionVivienda}"
										   name="infoVivienda.catSituacionVivienda.idCatSituacionVivienda"
										   th:field="*{infoVivienda.catSituacionVivienda.idCatSituacionVivienda}"
										   th:value="${catSituacion.idCatSituacionVivienda}"
										   class="form-check-input situacion-radio"
										   type="radio" />
									<label class="form-check-label" for="situacion${catSituacion.idCatSituacionVivienda}">
										<p class="subtitulo" th:text="${catSituacion.nombreSituacionVivienda}"></p>
									</label>

								</div>
							</div>
						</div>
					</div>

					<!-- ********************************************************************* -->
					<!-- ESTE DIV AGRUPA LOS ELEMENTOS QUE SE MOSTRARAN U OCULTARAN EN BASE A UN CAMPO  -->

					<div id="infoViviendaUniversitaria">

						<!-- ********************************************************************* -->
						<div class="col-12 col-md-12 col-xs-1  d-flex" style="padding-top: 2%;">
							<div class="row">



								<div class=" col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-2">
									<p>¿Con cuantas personas comparte el costo de la renta?</p>
									<!-- ********************************************************************* -->
									<!--En este div se muestra un mensaje cuando el usuario quiere enviar el formulario pero no lo ha seleccionado  -->
									<div id="numComparteViviendaError" class="error"  style="display: none;">*Debes seleccionar una opción</div>
									<!-- ********************************************************************* -->
									<input name="infoVivienda.numComparteVivienda"
										   th:field="*{infoVivienda.numComparteVivienda}"
										   value=""
										   type="number"
										   min="0" max="5"
										   class="estiloInputs rounded form-control"
										   style="width: 100%;"
										   id="inputNombre"
										   placeholder="">
								</div>


								<div class=" col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-2">
									<p>En la actualidad, cuanto paga usted de renta por mes?</p>
									<!-- ********************************************************************* -->
									<!--En este div se muestra un mensaje cuando el usuario quiere enviar el formulario pero no lo ha seleccionado  -->
									<div id="pagoRentaError" class="error" style="display: none;">*Debes seleccionar una opción</div>
									<!-- ********************************************************************* -->
									<input name="infoVivienda.pagoRenta"
										   th:field="*{infoVivienda.pagoRenta}"
										   value=""
										   type="number"
										   min="0" max="99999"
										   class="estiloInputs rounded form-control"
										   style="width: 100%;"
										   id="inputNombre"
										   placeholder="">
								</div>


								<div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-2">
									<p>Ingresa el nombre de la casa de huéspedes o del propietario</p>
									<!-- ********************************************************************* -->
									<!--En este div se muestra un mensaje cuando el usuario quiere enviar el formulario pero no lo ha seleccionado  -->
									<div id="nombreCaseroError" class="error" style="display: none;">*Debes seleccionar una opción</div>
									<!-- ********************************************************************* -->
									<input name="infoVivienda.nombreCasero"
										   th:field="*{infoVivienda.nombreCasero}"
										   value=""
										   type="text"
										   class="estiloInputs rounded form-control"
										   style="width: 100%;"
										   id="inputNombreCasero"
										   placeholder="">
								</div>
							</div>

						</div>

					</div>


					<div class="col-md-12" style="padding-top: 2%;">
						<p class="textoInputs">Marque la opción que mejor describa tu situación de vivienda:</p>
					</div>
					<div class="col-md-12">
						<div style="display: flex; justify-content: space-between;">
							<div style="width: 48%;">
								<div class="col-12">
									<p class="textoInputs">Estado</p>
									<select name="catEstado" id="catEstado" class="form-select estiloInputs" style="width: 100%;" aria-label="Default select example">
										<option class="subtitulo" value="">Elige una opción</option>
										<option
												th:each="estado : ${catEstado}"
												th:value="${estado.idCatEstado}"
												th:text="${estado.nombreEstado}">
										</option>
									</select>
								</div>
							</div>
							<div style="width: 48%;">
								<div class="form-check">
									<p class="textoInputs">Municipio</p>
									<select name="catMunicipio" id="catMunicipio"  class="form-select estiloInputs" style="width: 100%;" aria-label="Default select example">
										<option class="subtitulo" value="">Elige una opción</option>
									</select>
								</div>
							</div>
						</div>
						<div style="display: flex; justify-content: space-between;">
							<div style="width: 48%; padding-top: 2%;">
								<div class="col-12">
									<p class="textoInputs">Localidad</p>
									<select id="catLocalidad" name="domicilio.catLocalidad.idCatLocalidad" class="form-select estiloInputs" style="width: 100%;" aria-label="Default select example">
										<option value="">Elige una opción</option>
									</select>
								</div>
							</div>
							<div style="width: 48%; padding-top: 2%;">
								<div class="form-check">
									<p class="textoInputs">Colonia</p>
									<input id="numeroDomicilio" name="domicilio.coloniaBarrio" th:field="*{domicilio.coloniaBarrio}" class="form-control estiloInputs" style="width: 100%;" aria-label="Default select example" placeholder="Ingresa el nombre de tu Colonia o Barrio">

								</div>
							</div>
						</div>




						<div class="row d-flex" style="display: flex; justify-content: space-between;">


							<div class="col-12">
								<p class="textoInputs">Calle</p>
								<input  id="calleDomicilio" name="domicilio.calle" th:field="*{domicilio.calle}" class="form-control estiloInputs" style="width: 100%;" aria-label="Default select example" placeholder="Ingresa el nombre de tu calle">
							</div>

							<div class="col-6">
								<p class="textoInputs">Número</p>
								<input  id="numeroDomicilio" name="domicilio.numero" th:field="*{domicilio.numero}" class="form-control estiloInputs" style="width: 100%;" aria-label="Default select example" placeholder="Ingresa el número de tu calle">
							</div>

							<div class="col-6">
								<p class="textoInputs">C.P</p>
								<input  id="codigoPostal" name="domicilio.catCodigoPostal.idCatCodigoPostal" type="text" class="form-control estiloInputs rounded" style="width: 100%;" placeholder="Ingresa tu CP" disabled>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>





	<section>
		<div class="row me-1 d-flex justify-content-center">
			<div class="col-11 col-xs-4 col-sm-12 col-md-6 col-xl-6 rounded mt-2 ms-4 mb-2 p-2">
				<div class="colorFondo rounded p-2">
					<h3 style="color: #6366F1;">Transporte</h3>

					<div class="col-md-12 pt-3">
						<p class="textoInputs">¿Llevas automóvil o motocicleta cotidianamente a la universidad?</p>
						<!-- ********************************************************************* -->
						<!--En este div se muestra un mensaje cuando el usuario quiere enviar el formulario pero no ha seleccionado un campo de esta seccion -->

						<div id="transporteError" class="error" style="display: none;">*Debes seleccionar una opción</div>

						<!-- ********************************************************************* -->

						<div style="display: flex; justify-content: space-between;">
							<div style="width: 100%;">
								<div class="form-check">
									<input th:field="*{alumno.tieneVehiculo}" name="alumno.tieneVehiculo" value="1" class="form-check-input" type="radio"  id="llevaAutoSi">
									<p class="subtitulo">Si</p>
								</div>
							</div>
							<div style="width: 100%;">
								<div class="form-check">
									<input checked th:field="*{alumno.tieneVehiculo}" name="alumno.tieneVehiculo" value="0" class="form-check-input" type="radio"  id="llevaAutoNo">
									<label >No</label>
								</div>
							</div>
						</div>
					</div>
					<div>

						<!-- ********************************************************************* -->
						<!-- ESTE DIV AGRUPA LOS ELEMENTOS QUE SE MOSTRARAN U OCULTARAN EN BASE A UN CAMPO  -->
						<div id="infoTransporteAlumno" style="display: block;">

							<!-- ********************************************************************* -->

							<div class="col-12">
								<p class="textoInputs">Selecciona tu tipo de vehículo:</p>
								<select th:field="*{transporte.catTipoTransporte.idCatTipoTransporte}" name="transporte.catTipoTransporte.idCatTipoTransporte" class="form-select estiloInputs" style="width: 70%;" aria-label="Default select example">
									<option value="" class="subtitulo">Elige una opción</option>
									<option
											th:each="catTipoTransporte : ${catTipoTransporte}"
											th:value="${catTipoTransporte.idCatTipoTransporte}"
											th:text="${catTipoTransporte.nombreTipoTransporte}">
									</option>
								</select>
							</div>

							<div class="col-md-12 mt-3" style="display: flex; justify-content: space-between;">
								<div class="form-group">
									<label for="marca">Marca:</label>
									<input type="text" class="form-control" id="marca"  th:field="*{transporte.marca}" name="transporte.marca" style="width: 80%;">
									<!-- ********************************************************************* -->
									<!--En este div se muestra un mensaje cuando el usuario quiere enviar el formulario pero no lo ha seleccionado  -->
									<div id="marcaError" class="error" style="display: none;">*Debes seleccionar una opción</div>
									<!-- ********************************************************************* -->
								</div>

								<div class="form-group">
									<label for="modelo">Modelo:</label>
									<input type="text" class="form-control" id="modelo"  th:field="*{transporte.modelo}" name="transporte.modelo" style="width: 80%;">
									<!-- ********************************************************************* -->
									<!--En este div se muestra un mensaje cuando el usuario quiere enviar el formulario pero no lo ha seleccionado  -->
									<div id="modeloError" class="error" style="display: none;">*Debes seleccionar una opción</div>
									<!-- ********************************************************************* -->
								</div>

								<div class="form-group">
									<label for="anio">Año:</label>
									<input th:field="*{transporte.anio}"  class="form-control" id="anio" name="transporte.anio" style="width: 80%;" placeholder="Ingresa un año" type="number" min="1000" max="9999">
									<!-- ********************************************************************* -->
									<!--En este div se muestra un mensaje cuando el usuario quiere enviar el formulario pero no lo ha seleccionado  -->
									<div id="anioError" class="error" style="display: none;">*Debes seleccionar una opción</div>
									<!-- ********************************************************************* -->
								</div>
							</div>
						</div>
					</div>
					<div class="container mt-3">
						<p class="textoInputs">¿Qué otros medios utilizas para trasladarte a la universidadssss?</p>

						<!-- ********************************************************************* -->
						<!--En este div se muestra un mensaje cuando el usuario quiere enviar el formulario pero no ha seleccionado un campo de esta seccion -->

						<div id="mediosError" class="error" style="display: none;">*Debes seleccionar una opción</div>

						<!-- ********************************************************************* -->

						<div class="row">
							<div class="col-12">
								<div th:each="grupoTransporte, grupoStatus : ${gruposTransporte}" style="display: flex; justify-content: space-between;">
									<div th:each="transporte, transporteStatus : ${grupoTransporte}">
										<div class="col-4 col-sm-6 col-md-4 col-lg-3 mb-3">
											<div class="form-check">
												<input class="form-check-input" type="checkbox" th:field="*{mediosTraslado}" name="mediosTraslado" th:value="${transporte.idCatMediosTransporte}">
												<label class="form-check-label" for="checkbox${transporte.idCatMediosTransporte}">
													<p class="subtitulo" th:text="${transporte.nombreMediosTransporte}"></p>
												</label>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>



			<div class="col-11 col-xs-4 col-sm-12 col-md-5 col-xl-5 rounded ms-3 pt-4">
				<div class="colorFondo p-2 rounded" style="height: 100%;">
					<h3 style="color: #6366F1; padding-bottom: 2%;">Información complementaria</h3>
					<div class="col-md-12" style="color: #6366F1; ">
						<p class="textoInputs">¿Eres hijo o nieto de comunero de Ixtlán de Juárez?</p>

					</div>
					<div class="col-md-12">
						<div style="display: flex; justify-content: space-between;" class="containerFamiliarComunero">
							<div style="width: 48%;">
								<div class="form-check">
									<input value="1" th:field="*{alumno.familiarComunero}" name="alumno.familiarComunero" class="form-check-input" type="radio"  id="flexRadioDefault20">
									<p class="subtitulo">Si</p>
								</div>
							</div>
							<div style="width: 40%;">
								<div class="form-check">
									<input th:field="*{alumno.familiarComunero}" name="alumno.familiarComunero" value="0" class="form-check-input" type="radio" id="flexRadioDefault21">
									<p class="subtitulo">No</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12" style="color: #6366F1; padding-top: 3%;">
						<p class="textoInputs">¿Utilizas teléfono celular en la universidad?</p>
					</div>

					<div class="col-md-12">
						<div style="display: flex; justify-content: space-between;" class="containerTieneTelefono">
							<div style="width: 48%;">
								<div class="form-check">
									<input  th:field="*{alumno.tieneTelefono}" name="alumno.tieneTelefono" class="form-check-input" type="radio"  id="flexRadioDefault22" value="1">
									<p class="subtitulo">Si</p>
								</div>
							</div>
							<div style="width: 40%;">
								<div class="form-check">
									<input th:field="*{alumno.tieneTelefono}" name="alumno.tieneTelefono" value="0" class="form-check-input" type="radio"  id="flexRadioDefault23">
									<p class="subtitulo">No</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12" style="color: #6366F1; padding-top: 3%;">
						<p class="textoInputs">¿Tienes computadora personal y/o portátil?</p>
					</div>

					<!-- ********************************************************************* -->
					<!--En este div se muestra un mensaje cuando el usuario quiere enviar el formulario pero no ha seleccionado un campo de esta seccion -->

					<div id="tieneComputadoraError" class="error" style="display: none;">*Debes seleccionar una opción</div>

					<!-- ********************************************************************* -->

					<div class="col-md-12">
						<div style="display: flex; justify-content: space-between;">
							<div style="width: 50%;">
								<div class="form-check">
									<input th:field="*{alumno.tieneComputadora}" name="alumno.tieneComputadora" value="1" class="form-check-input" type="radio"  id="flexRadioDefault24">
									<p class="subtitulo">Si</p>
								</div>
							</div>
							<div style="width: 40%;">
								<div class="form-check">
									<input th:field="*{alumno.tieneComputadora}" name="alumno.tieneComputadora" value="0" class="form-check-input" type="radio"  id="flexRadioDefault25">
									<p class="subtitulo">No</p>
								</div>
							</div>
						</div>
					</div>
					<div style="display: flex; justify-content: space-between; padding-top: 3%;">
						<div style="width: 1000%;">
							<p class="textoInputs">Además del idioma español, ¿qué otro idioma, lenguaje o dialecto hablas?</p>
							<input th:field="*{alumno.idioma}" name="alumno.idioma" type="text" class="form-control estiloInputs" style="width: 100%;"  id="inputIdioma" placeholder="Zapoteco, Mixe, Ninguno">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="d-flex justify-content-center mt-5">
		<!--
		<button type="submit"  class="btn btn-primary">Enviar Datos</button>
		<button id="validar" type="button" class="btn btn-primary" >Validar Campos</button>
		-->


		<button type="button" id="guardar" class="btn btn-outline-primary hBtn mt-3 estiloBoton me-5">Guardar avances</button>

		<!-- Botón para enviar con validaciones -->
		<button type="button" id="validar" class="btn btn-outline-success mt-3 ">Siguiente</button>
	</div>

</form>


<div th:insert="~{fragments/footer.html :: footer}"></div>





<script src="../javaScript.js/funcionamiento.js"></script>
<script type="text/javascript">
	    $(document).ready(function () {
			
        
        	//Esta funcion obtiene los municipios de un estado en base al estado seleccionado
            $('#catEstado').change(function() {
		            var estado = $(this).val();
    				obtenerMunicipios(estado)
    				
    		});
		        
	        //Esta funcion obtiene las localidades de un municipio en base al municipio seleccionado
	        $('#catMunicipio').change(function() {
	            var municipio = $(this).val();
				//Se obtiene los datos haciendo una consulta al metodo de DomicilioController
	            obtenerLocalidadesDeMunicipio(municipio);
	        });
		        
	        //Esta funcion obtiene el codigo postal de una localidaden base al id de la localidad seleccionada
	        $('#catLocalidad').change(function() {
	            var localidad = $(this).val();
				//Se obtiene los datos haciendo una consulta al metodo de DomicilioController
	            obtenerCPdeLocalidad(localidad);
	        });
		        
		    
		    //Se obtienen y settean los datos de carrera, grupo y nombre del alumno
		    //Se optiene el idGrupo con el que fue registrado el alumno    
			var idGrupoAlumno = $('#idGrupo');
			console.log("id de grupo: "+ idGrupoAlumno.val());
			var idGrupo = parseInt(idGrupoAlumno.val());
		     
			//Se establece automaticamente la carrera con la que fue registrado el alumno
            obtenerCarrera(idGrupo);
	        		     
			//Se establece automaticamente el semestre con la que fue registrado el alumno
            obtenerSemestre(idGrupo);
	        
	        //Obtener y Setear los datos de: Estado, Municipio y localidad guardados con aterioridad
	        fetchEstadoMunicipioLocalidad();
			
			

			//Si el alumno lleva transporte a la univesidad:
			var radioTransporteSi = document.getElementById("llevaAutoSi");
			var radioTransporteNo = document.getElementById("llevaAutoNo");
			
			 if (radioTransporteSi.checked) {
			    infoTransporteAlumno.style.display = "block";
			 }
			
			
			//****************************************************************
			//Si el usuario selecciona que si lleva transporte se mostraran los campos para registrar
			//los datos del transporte
			
			// Llamar a la función para manejar el transporte
			manejarTransporte();
			
			//****************************************************************
			// Llamar a la función para manejar la vivienda universitaria
			manejarViviendaUniversitaria();
		
		    //****************************************************************
		    
		    // Obtener los valores de los campos
		    var nombreAlumno = $('#nombre');
	        var valNombre = nombreAlumno.val();
	        var apellidoMat = $('#apellidoM');
	        var valApellidoM = apellidoMat.val()
	        var apellidoPat = $('#apellidoP');
	        var valApellidoP = apellidoPat.val();
		    
		    var concatenatedValue = valNombre + ' ' + valApellidoP + ' ' + valApellidoM;
		    $('#inputNombreCompleto').val(concatenatedValue);
		    
		     //****************************************************************
		     
		    // Configuración de la validación
		    configurarValidacion();
	});
	//****************************************************************
	//Esta función se encarga de verificar que el formulario se envie solo cuando se oprime el boton de guardar
	document.addEventListener('keydown', function(event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            // Si el elemento enfocado es el botón de enviar, entonces envía el formulario
            if (document.activeElement.id === 'submitButton') {
                document.getElementById('myForm').submit();
            }
        }
    });
	
	
	function obtenerCarrera(idGrupo){
		$.ajax({
            url: '/carrera/carreraByIdGrupo/' + idGrupo,
            type: 'GET',
            success: function (data) {
	           var nombre = data.carrera;
	           $('#inputNombreCarrera').val(nombre);
	        }
	     });
	}
	
	function obtenerSemestre(idGrupo){
			$.ajax({
	            url: '/carrera/semestreByIdGrupo/' + idGrupo,
	            type: 'GET',
	            success: function (data) {
		           $('#inputNombreSemestre').val(data.nombreSemestre);
		         
		        }
		     });
		}
		
	async function fetchEstadoMunicipioLocalidad() {
	    const idLocalidad = $('#idCatLocalidad').val();
    
	    if (!idLocalidad) {
	        console.error("ID de localidad no proporcionado");
	        return;
	    }
	    
	    try {
	        const municipioResponse = await fetchMunicipioByIdLocalidad(idLocalidad);
	        const idMunicipio = municipioResponse.idCatMunicipio;
	        console.log("id de municipio: " + idMunicipio);
	        
	        const estadoResponse = await fetchEstadoByIdMunicipio(idMunicipio);
	        const idEstado = estadoResponse.idCatEstado;
	        $('#catEstado').val(idEstado);
	        console.log("id de estado: " + idEstado);
	        
	        const municipiosResponse = await fetchMunicipiosByIdEstado(idEstado);
	        const municipioSelect = $('#catMunicipio');
	        municipioSelect.empty();
	        municipioSelect.append('<option value="">Elige una opción</option>');
	        municipiosResponse.forEach(municipio => {
	            municipioSelect.append(`<option value="${municipio.idCatMunicipio}">${municipio.nombreMunicipio}</option>`);
	        });
	        municipioSelect.val(idMunicipio);
	        
	        const localidadesResponse = await fetchLocalidadesByIdMunicipio(idMunicipio);
	        const localidadSelect = $('#catLocalidad');
	        localidadSelect.empty();
	        console.log(localidadesResponse);
	        localidadSelect.append('<option value="">Elige una opción</option>');
	        localidadesResponse.forEach(localidad => {
	            localidadSelect.append(`<option value="${localidad.idCatLocalidad}">${localidad.nombreLocalidad}</option>`);
	        });
	        localidadSelect.val(idLocalidad);
	        
	        const codigoPostalResponse = await fetchCodigoPostalByIdLocalidad(idLocalidad);
	        $('#codigoPostal').val(codigoPostalResponse.numeroCodigoPostal);
	        
	    } catch (error) {
	        console.error("Error en la solicitud AJAX:", error);
	    }
	}
	

	
	// Función para manejar el estado inicial y cambios de vivienda universitaria
	function manejarViviendaUniversitaria() {
	    var infoViviendaUniversitaria = document.getElementById("infoViviendaUniversitaria");
	    var radios = document.querySelectorAll(".situacion-radio");
	
	    function actualizarEstado() {
	        var selectedRadio = document.querySelector(".situacion-radio:checked");
	        infoViviendaUniversitaria.style.display = selectedRadio && selectedRadio.value === "3" ? "none" : "block";
	    }
	
	    actualizarEstado();
	
	    radios.forEach(function(radio) {
	        radio.addEventListener("change", actualizarEstado);
	    });
	}
	
	// Función para manejar el estado inicial y cambios de transporte
	function manejarTransporte() {
	    var radioTransporteSi = document.getElementById("llevaAutoSi");
	    var infoTransporteAlumno = document.getElementById("infoTransporteAlumno");
	
	    function actualizarEstadoInicialTransporte() {
	        infoTransporteAlumno.style.display = radioTransporteSi.checked ? "block" : "none";
	    }
	
	    actualizarEstadoInicialTransporte();
	
	    radioTransporteSi.addEventListener("change", actualizarEstadoInicialTransporte);
	    document.getElementById("llevaAutoNo").addEventListener("change", actualizarEstadoInicialTransporte);
	}
	function showErrorAndScroll(errorElement) {
	    $(errorElement).show();
	    setTimeout(function() {
	        $(errorElement).fadeOut();
	    }, 8000);
	}
	
	
    // Función para configurar la validación con jQuery Validate
	function configurarValidacion() {
	
	    var validator = $("#myForm").validate({
	        rules: {
	            "alumno.idioma": { required: true },
	            "domicilio.coloniaBarrio": { required: true },
	            "domicilio.calle": { required: true },
	            "domicilio.numero": { required: true },
	            catEstado: { required: true },
	            catMunicipio: { required: true },
	            "domicilio.catLocalidad.idCatLocalidad" : { required: true },
	            "alumno.catEstadoCivil.idCatEstadoCivil" : { required: true }, 
	            "alumno.recursosSuficientes": { required: true },
            	"alumno.solicitaBecaAlimenticia": { required: true },
            	"alumno.tieneVehiculo" : { required: true },
            	"alumno.familiarComunero" : { required: true },
            	"alumno.tieneTelefono" : { required: true },
            	"alumno.tieneComputadora" : { required: true }
	        },
	        messages: {
	            "alumno.idioma": { required: "*Llena el campo solicitado" },
	            "domicilio.coloniaBarrio": { required: "*Llena el campo solicitado" },
	            "domicilio.calle": { required: "*Llena el campo solicitado" },
	            "domicilio.numero": { required: "*Llena el campo solicitado" },
	            catEstado: { required: "*Selecciona un estado válido"},
	            catMunicipio: {required: "*Selecciona un municipio válido" },
	            "domicilio.catLocalidad.idCatLocalidad" : {required: "*Selecciona una localidad válido" },
	            "alumno.catEstadoCivil.idCatEstadoCivil" : {required: "*Selecciona una opción <br>"},
				"alumno.recursosSuficientes": { required: "*Selecciona una opción <br>"},
           		"alumno.solicitaBecaAlimenticia": { required: "*Selecciona una opción <br>" },
           		"alumno.familiarComunero" : { required: "*Selecciona una opción <br>" },
           		"alumno.tieneTelefono" : { required:  "*Selecciona una opción <br>" },
           		"alumno.tieneComputadora" : { required:  "*Selecciona una opción <br>" } 
	        },
	        errorPlacement: function(error, element) {
				
				if ( element.is(":radio") )  {
	                var fieldName = element.attr('name');
	                if(fieldName === "alumno.catEstadoCivil.idCatEstadoCivil" ){  // Para los radio buttons en el primer grupo
	                    error.insertAfter(element.parents('.containerEstadoCivil'));
	                    mostrarQuitarError(error);
	                }
	                else if(fieldName === "alumno.recursosSuficientes" ){
						error.insertAfter(element.parents('.containerRecursosSuficientes'));
						mostrarQuitarError(error);
					}
	                else if( fieldName === "alumno.solicitaBecaAlimenticia"){
						error.insertAfter(element.parents('.containerSolicitaBeca'));
						mostrarQuitarError(error);
					}
					else if( fieldName === "alumno.familiarComunero"){
						error.insertAfter(element.parents('.containerFamiliarComunero'));
						mostrarQuitarError(error);
					}
					else if( fieldName === "alumno.tieneTelefono"){
						error.insertAfter(element.parents('.containerTieneTelefono'));
						mostrarQuitarError(error);
					}
					else if( fieldName === "alumno.tieneComputadora"){
						error.insertAfter(element.parents('.containerTieneComputadora'));
						mostrarQuitarError(error);
					}
	            } else { 
	                error.insertAfter(element);
	                mostrarQuitarError(error);
		            
	            }
	            
	        }
	        
	    });
	    function mostrarQuitarError(error){
			setTimeout(function() {
	          error.fadeOut(500, function() {
	            $(error).remove();
	          });
	        }, 8000);
		}
		    
	
	    // Botón de guardado (sin validación)
	    $("#guardar").click(function() {
	        validator.settings.ignore = "*";
	        $("#myForm").submit();
	        validator.settings.ignore = [];
	    });
	
	    // Botón de envío con validación
	    $("#validar").click(function(event) {
	        event.preventDefault(); 
	        let enviar = true;
			
	
	        if ($('input[name="infoVivienda.catSituacionVivienda.idCatSituacionVivienda"]').is(":checked")) {
	            let valorSeleccionado = $('input[name="infoVivienda.catSituacionVivienda.idCatSituacionVivienda"]:checked').val();
	            $("#situacionViviendaError").hide();
	            if (valorSeleccionado != 3) {
	                // Validar campos adicionales si es necesario
	                if (!$('input[name="infoVivienda.nombreCasero"]').val()) {
	                    enviar = false;
	                    showErrorAndScroll("#nombreCaseroError");
	                }
	                if (!$('input[name="infoVivienda.numComparteVivienda"]').val()) {
	                    enviar = false;
	                    showErrorAndScroll("#numComparteViviendaError");
	                }
	                if (!$('input[name="infoVivienda.pagoRenta"]').val()) {
	                    enviar = false;
	                    showErrorAndScroll("#pagoRentaError");
	                }
	            }
	        } else {
	            enviar = false;
	            showErrorAndScroll("#situacionViviendaError");
	        }
	
	        if ($('input[name="mediosTraslado"]').is(":checked")) {
	            $("#mediosError").hide();
	        } else {
	            enviar = false;
	            showErrorAndScroll("#mediosError");
	        }
	        
	        if ($('input[name="alumno.tieneVehiculo"]').is(":checked")) {
		            $("#transporteError").hide();
		            
		            if ($('#llevaAutoSi').is(":checked")) {
				            
				    var marcaSeleccionada = $("#marca").val();
				    var modeloSeleccionado = $("#modelo").val();
				    var anioSeleccionado = $("#anio").val();
				
				    if (!marcaSeleccionada) {
				      event.preventDefault();
				      showErrorAndScroll("#marcaError");
				      enviar = false;
				    } else {
				      $("#marcaError").hide();
				    }
				
				    if (!modeloSeleccionado) {
				      event.preventDefault();
				      showErrorAndScroll("#modeloError");
				      enviar = false;
				    } else {
				      $("#modeloError").hide();
				    }
				
				    if (!anioSeleccionado || anioSeleccionado < 1000 || anioSeleccionado > 9999) {
				      event.preventDefault();
				      showErrorAndScroll("#anioError");
				      enviar = false;
				    } else {
				      $("#anioError").hide();
				    }

	      	  }
	        } else {
	            enviar = false;
	            showErrorAndScroll("#transporteError");
	        }
	
			
			
	        if ($("#myForm").valid() && enviar ) {
	            enviarFormulario();
	        } else {
	            alert("Ups. Tienes datos obligatorios sin llenar");
	            desplazarPagina();
	        }
	    });
	}

	function desplazarPagina() {
	    $("html, body").animate({
	        scrollTop: 500
	    }, 1000); // Usa 'easeInOutCubic' para un desplazamiento más suave
	}
	
	// Función para enviar el formulario
	function enviarFormulario() {
	    var idAlumno = $('#idAlumno').val();
	    var idAlumnoInt = parseInt(idAlumno);
	    var url = "/formulario/marcarFormularioRealizado/" + idAlumnoInt;
	
	    $.ajax({
	        url: url,
	        method: "GET",
	        success: function(response) {
	            if (response.success) {
	                alert("Información enviada correctamente.");
	                $("#myForm").submit();
	            } else {
	                alert("Información guardada correctamente.");
	                console.error("Error al marcar el formulario como realizado.");
	                $("#myForm").submit();
	            }
	        },
	        error: function(xhr, status, error) {
	            console.error("Error en la solicitud Ajax: " + error);
	        }
	    });
	}
	
    </script>
</body>
</html>
