<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi tutor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    
    <!-- Incluye jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Incluye jQuery Validate -->
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
	<style>
        .hidden {
            display: none;
        }
        .error {
            color: red;
            font-size: 0.875em;      
                  
        }
        .form-check-inline {
            position: relative;
        }
        
        .error option {
		    background-color: white; /* Ejemplo de fondo rojo claro */
		    color: black; /* Ejemplo de color de texto oscuro */
		}
    </style>
</head>
<body>
	
	<header  th:insert="fragments/navAlumnos.html :: menu-nav"/>

    <div class="m-5 mt-3 ">
        <div class="row" >
            <ol class="p-1 colorFondo breadcrumb bread-primary ">
                <a th:href="@{/}" style="text-decoration: none;">
                    <button class="btn camino" >Inicio</button>
                </a>
                <a th:href="@{/alumno/menuSolicitar}" style="text-decoration: none;">
                    <button class="btn camino" >Estudio socioeconomico</button> 
                </a>
                <a style="text-decoration: none;">
                    <button class="btn btn-primary camino" style="background-color: #4F46E5; ">Dependiente economico</button>
                </a>   
            </ol>
        </div>	
    </div>
	<form id="formDependienteEconomico" th:action="@{/alumno/guardarTutor}" th:object="${alumno}" method="post">
				
		<h1 class="titulo" style="text-align:left; margin-left: 1.6cm;">DEPENDIENTE ECONOMICO</h1>
		
		<div class="row justify-content-center">
	        <div class="col-10 col-xs-2 col-sm-10 col-md-10 col-xl-11 col-lg-10 rounded colorFondo p-4">
	            <h3 style="color: #6366F1;">Gastos e ingresos</h3>
	            <div class="row">
	                <div class="col-12 mt-3">
	                    <p class="textoInputs">¿A cuánto hacienden tus gastos mensuales de manutención?</p>
	                    <p class="subtitulo" style="text-align: justify;">Lo que pagas de alimentación, transporte, vivienda, servicios médicos, libros y materiales escolares, entretenimiento, etc. (Por favor no incluyas los gastos en colegiatura e inscripciones de la universidad)</p>
	                    <input type="number" min="0" class="form-control estiloInputs" style="width: 6em;" id="gastoMensual" name="gastoMensual" th:field="*{gastoMensual}"  placeholder="">
	                </div>
	                <div class="col-12 mt-3">
	                    <p class="textoInputs">¿Dependes económicamente?</p>
	                   <div class="d-flex justify-content-start w-25">
						    <div class="me-5">
						        <div class="form-check d-flex justify-content-start" >
						            <input type="radio" th:field="*{dependeEconomicamente}" class="form-check-input" name="dependeEconomicamente" id="flexRadioDefault1" value="1" checked>
									<label class="form-check-label" for="flexRadioDefault1">
										<p class="subtitulo">Si</p>
						            </label>
						        </div>
						    </div>
						    <div>
						        <div class="form-check d-flex justify-content-start">
						            <input type="radio" th:field="*{dependeEconomicamente}" class="form-check-input"  name="dependeEconomicamente" id="flexRadioDefault2" value="0">
						            <label class="form-check-label" for="flexRadioDefault2">
						                <p class="subtitulo">No</p>
						            </label>
						        </div>
						    </div>
						</div>
	                </div>

					<div class="row">
						<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
							<p>Ingresa el nombre del centro de trabajo</p>
							<input type="text" class="form-control estiloInputs" style="width: 100%;" id="">
						</div>
						<div class="col-sm-7 col-md-4 col-lg-4 ">
							<p>Menciona el ingreso mensual que recibes</p>
							<input type="number" class="form-control estiloInputs" style="width: 54%;" id="">
						</div>
						<div class="col-sm-5
						 col-md-4 col-lg-4 col-xl-4">
							<p>Ingresa el telefono del centro de trabajo</p>
							<input type="text" class="form-control estiloInputs" style="width: 60%;" id="">
						</div>

						<div class="col-12">
							<h3 class="mt-4 mb-4" style="color: #6366F1;">Domicilio</h3>
							<div class="row">
								<div class="col">
									<p class="textoInputs">Estado</p>
									<select class="form-select estiloInputs" style="width: 96%;" aria-label="Default select example">
										<option selected class="subtitulo">Elige una opción</option>
										<option value="1" class="subtitulo">Estado 1</option>
										<option value="2" class="subtitulo">Estado 2</option>
										<option value="3" class="subtitulo">Estado 3</option>
									</select>
								</div>
								<div class="col">
									<p class="textoInputs">Región</p>
									<select class="form-select estiloInputs" style="width: 96%;" aria-label="Default select example">
										<option selected class="subtitulo">Elige una opción</option>
										<option value="1" class="subtitulo">Región 1</option>
										<option value="2" class="subtitulo">Región 2</option>
										<option value="3" class="subtitulo">Región 3</option>
									</select>
								</div>
							</div>
							<div class="row mt-4">
								<div class="col">
									<p class="textoInputs">Distrito</p>
									<select class="form-select estiloInputs" style="width: 96%;" aria-label="Default select example">
										<option selected class="subtitulo">Elige una opción</option>
										<option value="1" class="subtitulo">Distrito 1</option>
										<option value="2" class="subtitulo">Distrito 2</option>
										<option value="3" class="subtitulo">Distrito 3</option>
									</select>
								</div>
								<div class="col">
									<p class="textoInputs">Municipio</p>
									<select class="form-select estiloInputs" style="width: 96%;" aria-label="Default select example">
										<option selected class="subtitulo">Elige una opción</option>
										<option value="1" class="subtitulo">Municipio 1</option>
										<option value="2" class="subtitulo">Municipio 2</option>
										<option value="3" class="subtitulo">Municipio 3</option>
									</select>
								</div>
							</div>
							<div class="row mt-4">
								<div class="col">
									<p class="textoInputs">Localidad</p>
									<select class="form-select estiloInputs" style="width: 96%;" aria-label="Default select example">
										<option selected class="subtitulo">Elige una opción</option>
										<option value="1" class="subtitulo">Localidad 1</option>
										<option value="2" class="subtitulo">Localidad 2</option>
										<option value="3" class="subtitulo">Localidad 3</option>
									</select>
								</div>
								<div class="col">
									<p class="textoInputs">Colonia</p>
									<select class="form-select estiloInputs" style="width: 96%;" aria-label="Default select example">
										<option selected class="subtitulo">Elige una opción</option>
										<option value="1" class="subtitulo">Colonia o barrio 1</option>
										<option value="2" class="subtitulo">Colonia o barrio 2</option>
										<option value="3" class="subtitulo">Colonia o barrio 3</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-12 col-sm-12 col-md-6 col-lg-5 me-5 mt-4">
									<p class="textoInputs">Calle</p>
									<input type="text" class="form-control estiloInputs" style="width: 100%" id="">
								</div>
								<div class="col-4 col-sm-3 col-md-3 col-lg-1 me-5 mt-4">
									<p class="textoInputs">Número</p>
									<input type="number" class="form-control estiloInputs" style="width: 100%;" id="">
								</div>
								<div class="col-4 col-sm-3 col-md-3 col-lg-1 mt-4">
									<p class="textoInputs">C.P.</p>
									<input type="number" class="form-control estiloInputs" style="width: 100%;" id="">
								</div>
							</div>
						</div>
					</div>	
	            </div>
	        </div>
	    </div><br>
		
        <p class="subtitulo ms-5 mt-4" >Datos del padre, madre o tutor o familiar más cercano (preferiblemente, del que se depende económicamente) </p>
        <div class="container-auto row justify-content-center">
            <div class="col-10 col-xs-2 col-sm-10 col-md-9 col-xl-5  rounded colorFondo m-2 p-4 ms-4">
                <h3 style="color: #6366F1;">Información general</h3>
                <div class="col-12">
                    <p class="textoInputs">Nombre Completo</p>
                    <input th:field="*{tutorEconomico.nombreTutorEconomico}" class="estiloInputs rounded form-control" style="width: 100%;" type="text" id="nombreTutorEconomico" name="tutorEconomico.nombreTutorEconomico" placeholder="Ingrese el nombre completo">
                </div>
                
                <div  for="selectCatParentesco" class="col-12 pt-3">
                    <p class="textoInputs">Parentesco</p>
                    <select th:field="*{tutorEconomico.catParentesco.idCatParentesco}" id="catParentesco" name="selectCatParentesco" class="form-select estiloInputs" style="width: 100%;" aria-label="Default select example" required>
						<option class="subtitulo" value="">Elige una opción</option>							
						<option class="subtitulo"
							th:each="catParentesco : ${parentescos}" 
							th:value="${catParentesco.idCatParentesco}" 
							th:text="${catParentesco.nombreParentesco}">
						</option>
	                </select>
	            </div>
	            
	            <div class="col-12 pt-3">
	                <div class="d-flex">
	                    <div style="width: 100%;" class="me-4">
	                        <p class="textoInputs">E-mail</p>
	                        <input th:field="*{tutorEconomico.correo}" type="email" class="form-control estiloInputs rounded" style="width: 100%;" id="correo" name="tutorEconomico.correo" placeholder="Ingrese su correo electronico">
	                    </div>
	                    <div style="width: 100%;">
	                        <p class="textoInputs">Telefono</p>
	                        <input th:field="*{tutorEconomico.telefono}" class="form-control estiloInputs rounded" style="width: 100%;" type="number" id="telefono" oninput="limitarLongitud(event)" name="tutorEconomico.telefono" min="0" placeholder="Ingrese N° Telefono">
	                    </div>
	                </div>
	            </div>
	            <div class="col mt-3">
	                <p class="textoInputs">Indica su ocupación:</p>
	                 <select th:field="*{tutorEconomico.catOcupacion.idCatOcupacion}" id="catOcupacion" name="selectCatOcupacion" class="form-select estiloInputs" style="width: 100%;" aria-label="Default select example">
                        <option value="" class="subtitulo">Elige una opción</option>							
						<option th:each="catOcupacion : ${ocupaciones}" th:value="${catOcupacion.idCatOcupacion}" th:text="${catOcupacion.nombreOcupacion}" class="subtitulo"></option>
	                </select>
	            </div>
	            <div class="mt-4" style="color: #6366F1;">
	                <p class="textoInputs">¿Es trabajador de la UNSIJ o SUNEO?</p>
	                

					<div class="d-flex">
						<div style="width: 100%;">
							<div class="form-check">
								<input type="radio" class="form-check-input" th:field="*{tutorEconomico.trabajadorSuneo}" id="apoyoSi" name="tutorEconomico.trabajadorSuneo" value="1" style="color: #6366F1;">
								<label class="form-check-label" for="flexRadioDefault1">
									<p class="subtitulo">Si</p>
								</label>
							</div>
						</div>
						<div style="width: 850%;">
							<div class="form-check">
								<input type="radio" class="form-check-input" th:field="*{tutorEconomico.trabajadorSuneo}" id="apoyoNo" name="tutorEconomico.trabajadorSuneo" value="0" style="color: #6366F1;" checked>
								<label class="form-check-label" for="flexRadioDefault2">
									<p class="subtitulo">No</p>
								</label>
							</div>
						</div>
					</div>

	            </div>
            </div>

            <div class="col-10 col-xs-2 col-sm-10 col-md-9 col-xl-6  rounded colorFondo m-2 p-4 ms-4">
                <h3 style="color: #6366F1;">Domicilio</h3>
                <p class="subtitulo">Indica la dirección de la persona de quien se depende económicamente, si éste es el caso, o de lo contrario, a la persona que se pueda localizar para aclaraciones.</p>
                <div class="mt-1" style="color: #6366F1;" >
                    <p>¿El domicilio de tu tutor coincide con el que te encuentras actualmente?</p>
                    <div class="mt-1" style="margin-left: 1cm;">
                        <input th:field="*{tutorEconomico.esViviendaAlumno}" type="radio" class="input-outline-primary " id="apoyoSi" name="tutorEconomico.esViviendaAlumno" value="1" style="color: #6366F1;" onclick="toggleContent()">
                        <label for="apoyoSi" style="color:#6C757D;" class="me-5">Si</label>
                        <input th:field="*{tutorEconomico.esViviendaAlumno}"type="radio" class="input-outline-primary" id="aopyoNo" name="tutorEconomico.esViviendaAlumno" value="0" style="color: #6366F1;" onclick="toggleContent()">
                        <label for="apoyoNo" style="color:#6C757D;" class="me-5">No</label>
                    </div><br> 
                </div>
                
				<div id="contentDomicilio">
					 <div class="ps-4 pe-4">
	                    <div class="row">
	                        <div class="col">
	                            <p class="textoInputs">Estado</p>
								<!--							 -->
			                    <select id="selectEstados" th:field="*{tutorEconomico.domicilio.catLocalidad.catMunicipio.catEstado.idCatEstado}"  onclick="obtenerMunicipiosDP()" class="form-select estiloInputs" style="width: 96%;" aria-label="Default select example" required>
	                                <option value="" class="subtitulo">Elige una opción</option>							
									<option th:each="catEstado : ${estados}" th:value="${catEstado.idCatEstado}" th:text="${catEstado.nombreEstado}"  class="subtitulo"></option>
			                    
			                    </select>
	                        </div>
	                        <div class="col">
	                            <p class="textoInputs">Municipio</p>
								<!--th:field="*{domicilio.catLocalidad.catMunicipio.catIdMunicipio}"-->
	                            <select id="selectMunicipios" onchange="handleSelectChange(event)"  onclick="obtenerLocalidadDP()"  class="form-select estiloInputs" style="width: 96%;" aria-label="Default select example" required>
	                                <option value="" class="subtitulo">Elige una opción</option>									                            
	                            </select>
	                        </div>
	                    </div>
	                    <div class="row mt-4">
	                        <div class="col">
	                            <p class="textoInputs">Localidad</p>
								<!--th:field="*{domicilio.catLocalidad.idLocalidad}"--> 
	                            <select id="selectLocalidades" onchange="sincronizarValor(event)" onclick="obtenerCodigoPostal()" class="form-select estiloInputs" style="width: 96%;" aria-label="Default select example" required>
	                                <option value="" class="subtitulo">Elige una opción</option>		
	                            </select>
	                            <input th:value="*{tutorEconomico.domicilio.catLocalidad.idCatLocalidad}" type="hidden" id="valorOculto" name="tutorEconomico.domicilio.catLocalidad">
	                        </div>
	                        <div class="col">
	                            <p class="textoInputs">Colonia</p>
	                            <input th:field="*{tutorEconomico.domicilio.coloniaBarrio}" id="coloniaBarrio" name="tutorEconomico.domicilio.coloniaBarrio" class="form-control estiloInputs rounded" style="width: 96%;" aria-label="Default select example">
	                        </div>
	                    </div>
	                    <div class="row mt-4">
	                        <div class="col">
	                            <p class="textoInputs">Distrito</p>
	                            <select class="form-select estiloInputs" style="width: 96%;" aria-label="Default select example">
	                                <option value="" selected class="subtitulo">Elige una opción</option>
	                                <option value="1" class="subtitulo">Distrito 1</option>
	                                <option value="2" class="subtitulo">Distrito 2</option>
	                                <option value="3" class="subtitulo">Distrito 3</option>
	                            </select>
	                        </div>
	                        <div class="col">
	                            <p class="textoInputs">Región</p>
	                            <select class="form-select estiloInputs" style="width: 96%;" aria-label="Default select example">
	                                <option value=""  class="subtitulo">Elige una opción</option>
	                                <option value="1" class="subtitulo">Región 1</option>
	                                <option value="2" class="subtitulo">Región 2</option>
	                                <option value="3" class="subtitulo">Región 3</option>
	                            </select>
	                        </div>
	                    </div>
	                </div>
	
	                <div class="row ms-3 me-3">
	                    <div class="col-12 col-md-6 mt-4">
	                        <label>Calle</label>
	                        <input th:field="*{tutorEconomico.domicilio.calle}" type="text" class="form-control estiloInputs rounded" style="width: 100%;" id="calle" name="tutorEconomico.domicilio.calle" placeholder="Nombre de la calle">
	                    </div>
	                    <div class="col-6 mt-4 col-md-3">
	                        <label>Numero</label>
	                        <input th:field="*{tutorEconomico.domicilio.numero}" type="text" class="form-control estiloInputs rounded" style="width: 100%;" id="numero" name="tutorEconomico.domicilio.numero" placeholder="Número">
	                    </div>
	                    <div class="col-6 mt-4 col-md-3">
	                        <label>C.P.</label>
	                        <input th:field="*{tutorEconomico.domicilio.catLocalidad.catCodigoPostal.numeroCodigoPostal}" type="text" class="form-control estiloInputs rounded" style="width: 100%;" id="cp" name="codigoPostal" placeholder="" readonly>
	                    </div>
	                </div>
				</div>
               
         	</div>
         
        <div class="d-flex justify-content-center mt-5">
 			<button class="btn btn-outline-primary hBtn mt-3 estiloBoton me-5" type="submit" role="button" name="accion" value="guardar">Guardar avances</button>
            <button class="btn btn-outline-success mt-3" type="submit" role="button" name="accion" value="enviar">Siguiente</button>
    	</div>
    	
    	<input type="hidden" id="idCatEstado" th:value="*{tutorEconomico.domicilio.catLocalidad.catMunicipio.catEstado.idCatEstado}"/>
    	<input type="hidden" id="idCatMunicipio" th:value="*{tutorEconomico.domicilio.catLocalidad.catMunicipio.idCatMunicipio}"/>
    	<input type="hidden" id="idCatLocalidad" th:value="*{tutorEconomico.domicilio.catLocalidad.idCatLocalidad}"/>

	</form>
       
    <footer th:insert="fragments/footer.html :: footer"/>
    
    <script>
		
		// Funciones cuando cargue el HTML
       document.addEventListener('DOMContentLoaded', function() {
		    var content = document.getElementById('contentDomicilio');
            var radios = document.getElementsByName('tutorEconomico.esViviendaAlumno');
            
            for (var i = 0; i < radios.length; i++) {
                if (radios[i].checked && radios[i].value === '1') {
				    
				    document.getElementById('calle').readOnly = true;
					document.getElementById('numero').readOnly = true;
					document.getElementById('coloniaBarrio').readOnly = true;
					document.getElementById('selectEstados').disabled = true;
					document.getElementById('selectMunicipios').disabled = true;
					document.getElementById('selectLocalidades').disabled = true;
					
                } 
            }
		});
		
		function sincronizarValor(){
			var select = document.getElementById("selectLocalidades");
        	var valorSeleccionado = select.options[select.selectedIndex].value;
        	document.getElementById("valorOculto").value = valorSeleccionado;
		}
		
		function toggleContent() {
            var content = document.getElementById('contentDomicilio');
            var radios = document.getElementsByName('tutorEconomico.esViviendaAlumno');
            document.getElementById("valorOculto").value = null;
            
            for (var i = 0; i < radios.length; i++) {
                if (radios[i].checked && radios[i].value === '1') {
				    $.ajax({
				        url: '/domicilio/obtenerDomiclioPorAlumno',
				        type: 'GET',
				        success: function(data) {
							
							if(data !== null){
								
								var domAlumno = data;
							
				            var estado = document.getElementById('selectEstados');
							estado.value = domAlumno.catLocalidad.catMunicipio.catEstado.idCatEstado;
							var selectEstado = estado.selectedIndex;
						    $.ajax({
						        url: '/domicilio/obtenerMunicipiosPorEstado',
						        type: 'GET',
						        data: { estadoId: selectEstado},
						        success: function(data) {

						            actualizarSelectMunicipiosDP(data);
						            
									var municipio = document.getElementById('selectMunicipios');
									municipio.value = domAlumno.catLocalidad.catMunicipio.idCatMunicipio;

								    selectIndex = municipio.value;
								    $.ajax({
								        url: '/domicilio/obtenerLocalidadesPorMunicipio',
								        type: 'GET',
								        data: { municipioId: selectIndex},
								        success: function(data) {
											actualizarSelectLocalidadDP(data);
								            var localidad = document.getElementById('selectLocalidades');
											localidad.value = domAlumno.catLocalidad.idCatLocalidad;
											document.getElementById("valorOculto").value = localidad.value;

			            	            	actualizarInputCP(domAlumno.catLocalidad.catCodigoPostal.idCatCodigoPostal);
											document.getElementById('calle').value = domAlumno.calle;
											document.getElementById('numero').value = domAlumno.numero;
											document.getElementById('coloniaBarrio').value = domAlumno.coloniaBarrio;				
										        
								        },
								        error: function(xhr, status, error) {
								            console.error(error);
								        }
								    });
						        },
						        error: function(xhr, status, error) {
						            console.error(error);
						        }
						    });           
								
							}else{
								alert("No hay datos registrados");
								document.querySelector('input[name="domicilio"][value=0"]').checked = true;

							}
				        },
				        error: function(xhr, status, error) {
				            console.error(error);
				        }
				    });
				    
				    document.getElementById('calle').readOnly = true;
					document.getElementById('numero').readOnly = true;
					document.getElementById('coloniaBarrio').readOnly = true;
					document.getElementById('selectEstados').disabled = true;
					document.getElementById('selectMunicipios').disabled = true;
					document.getElementById('selectLocalidades').disabled = true;
					

                    
                } else if (radios[i].checked && radios[i].value === '0') {
					document.getElementById('calle').value = "";
					document.getElementById('calle').readOnly = false;

					document.getElementById('numero').value = "";
					document.getElementById('numero').readOnly = false;
					
					document.getElementById('coloniaBarrio').value = "";
					document.getElementById('coloniaBarrio').readOnly = false;
					document.getElementById('cp').value = "";
					
					document.getElementById('selectEstados').disabled = false;
					document.getElementById('selectMunicipios').disabled = false;
					document.getElementById('selectLocalidades').disabled = false;
					
					var selectLocalidad = document.getElementById('selectLocalidades');
										
					selectLocalidad.innerHTML = "";
						var optionL = document.createElement("option");
				        optionL.value = "";
				        optionL.text = "Elige una opción";
				        selectLocalidad.appendChild(optionL);
					selectLocalidad.readOnly = false;
					
					
					var selectMunicipio = document.getElementById('selectMunicipios');
				    selectMunicipio.innerHTML = "";
						var optionM = document.createElement("option");
				        optionM.value = "";
				        optionM.text = "Elige una opción";
				        selectMunicipio.appendChild(optionM);
				   	selectMunicipio.readOnly = true;
					
					var selectEstado = document.getElementById('selectEstados');
					selectEstado.selectedIndex = 0;
					selectEstado.readOnly = true;
                }
            }
        }
        
        
        $(document).ready(function () {
            // Agrega las reglas de validación
            
            $.extend($.validator.messages, {
                required: "Por favor, selecciona una opcion"
            });

            $("#formDependienteEconomico").validate({
                rules: {
					gastoMensual : {
						required: true
					},
                    "tutorEconomico.nombreTutorEconomico": {
                        required: true
                    },
                    "tutorEconomico.correo": {
                        required: true,
                        email: true
                    },
                    "tutorEconomico.telefono":{
						required: true,
                        digits: true,
                        rangelength: [10, 10]
					},"tutorEconomico.domicilio.calle": {
                        required: true
                    },
                    "tutorEconomico.domicilio.numero": {
						required: true
					},
					dependeEconomicamente: {
						required: true
					},"tutorEconomico.domicilio.catLocalidad.catCodigoPostal.numeroCodigoPostal": {
						required: true
					},
					"tutorEconomico.trabajadorSuneo":{
						required: true
					},
					"tutorEconomico.catOcupacion.idCatOcupacion":{
						required: true
					},"tutorEconomico.domicilio.coloniaBarrio": {
						required: true
					},
					"tutorEconomico.catParentesco.idCatParentesco": {
						required: true
					}
					
                },
                messages: {
					gastoMensual : {
						required: "Ingresa una cantidad."
					},
                    "tutorEconomico.nombreTutorEconomico": {
                        required: "Por favor, ingresa su nombre."
                    },
                    "tutorEconomico.correo": {
                        required: "Por favor, Ingrese un correo electrónico.",
                        email: "Por favor, ingrese un correo electrónico válido."
                    },
                    "tutorEconomico.telefono": {
                        required: "Por favor, ingrese el teléfono del tutor económico.",
                        digits: "Por favor, ingrese solo números.",
                        rangelength: "El teléfono debe tener 10 dígitos.",
                    },
                    "tutorEconomico.domicilio.calle": {
                        required: "Por favor, ingresa un domicilio."
                    },
                    "tutorEconomico.domicilio.numero": {
						required: "Por favor, ingrese un dato, si no tiene número puede escribir s/n."
					},
					dependeEconomicamente: {
						required: "Por favor, seleccione una opción."
					},
					"tutorEconomico.trabajadorSuneo":{
						required: "Por favor, seleccione una opción."
					},
					"tutorEconomico.domicilio.catLocalidad.catCodigoPostal.numeroCodigoPostal": {
						required: "Por favor, selecciona una localidad"
					},
					"tutorEconomico.catOcupacion.idCatOcupacion":{
						required: "Por favor, selecciona una ocupación."
					},
					"tutorEconomico.domicilio.coloniaBarrio": {
						required: "Por favor, ingresa su colonia o barrio."
					},
					"tutorEconomico.catParentesco.idCatParentesco": {
						required: "Por favor, selecciona un parentesco"
					}
                },
                errorPlacement: function(error, element) {
                    if (element.attr("type") == "radio") {
                    	error.insertAfter(element.closest('.form-check').find('label').last());
	                } else {
	                    error.insertAfter(element);
	                }
                },
                submitHandler: function (form, event) {
                    // Obtenemos el valor del botón presionado
                    const accion = $(document.activeElement).val();
                    
                    // Validar y enviar solo si la acción es "enviar"
                    if (accion === 'enviar') {
                        alert("Información enviada correctamente.");
                        form.submit();
                    } else {
                        // Previene el envío si se presiona "Guardar"
                        form.submit();
                        alert("Información guardada correctamente.");
                        // Puedes agregar aquí la lógica para guardar sin enviar
                    }
                }
            });

            // Intercepta el evento submit para el botón "Guardar"
            $('button[name="accion"][value="guardar"]').click(function (event) {
                // Desactiva la validación y permite el envío del formulario
                $("#formDependienteEconomico").validate().cancelSubmit = true;
            });

            // Intercepta el evento submit para el botón "Enviar"
            $('button[name="accion"][value="enviar"]').click(function (event) {
                // Activa la validación
                $("#formDependienteEconomico").validate().cancelSubmit = false;
            });
        });

		
		
	</script>
    <script src="../javaScript.js/funcionamiento.js"></script>
</body>
</html>

