<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi tutor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    
    <!-- Incluye jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Incluye jQuery Validate -->
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
	<style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
	
	<header  th:insert="fragments/navAlumnos.html :: menu-nav"/>

    <div class="m-5 mt-3 ">
        <div class="row" >
            <ol class="p-1 colorFondo breadcrumb bread-primary ">
                <a th:href="@{/}" style="text-decoration: none;">
                    <button class="btn camino" >Inicio</button>
                </a>
                <a th:href="@{/alumno/menuSolicitar}" style="text-decoration: none;">
                    <button class="btn camino" >Estudio socioeconomico</button> 
                </a>
                <a style="text-decoration: none;">
                    <button class="btn btn-primary camino" style="background-color: #4F46E5; ">Dependiente economico</button>
                </a>   
            </ol>
        </div>	
    </div>
	<form th:action="@{/alumno/guardarTutor}" th:object="${tutorEconomico}" method="post">
		<h1 class="titulo" style="text-align:left; margin-left: 1.6cm;">DEPENDIENTE ECONOMICO</h1>
        <p class="subtitulo m-4">Datos del padre, madre o tutor o familiar más cercano (preferiblemente, del que se depende económicamente) </p>
        <div class="container-auto row justify-content-center" >
            <div class="col-10 col-xs-2 col-sm-10 col-md-9 col-xl-5  rounded colorFondo m-2 p-4 ms-4">
                <h3 style="color: #6366F1;">Información general</h3>
                <div class="col-12">
                    <p class="textoInputs">Nombre Completo</p>
                    <input th:field="*{nombreTutorEconomico}" class="estiloInputs rounded" style="width: 100%;" type="text" id="nombreTutor" name="nombreTutorEconomico" placeholder="Ingrese el nombre completo">
                </div>
                
                <div class="col-12 pt-3">
                    <p class="textoInputs">Parentesco</p>
                    <select th:field="*{catParentesco.idCatParentesco}" id="catParentesco" class="form-select estiloInputs" style="width: 100%;" aria-label="Default select example">
						<option class="subtitulo"
							th:each="catParentesco : ${parentescos}" 
							th:value="${catParentesco.idCatParentesco}" 
							th:text="${catParentesco.nombreParentesco}">
						</option>
	                </select>
	            </div>
	            
	            <div class="col-12 pt-3">
	                <div class="d-flex">
	                    <div style="width: 100%;" class="me-4">
	                        <p class="textoInputs">Correo electronico</p>
	                        <input th:field="*{correo}" type="text" class="form-control estiloInputs rounded" style="width: 100%;" id="correo" name="correo" placeholder="Ingrese su correo electronico">
	                    </div>
	                    <div style="width: 100%;">
	                        <p class="textoInputs">Telefono</p>
	                        <input th:field="*{telefono}" class="form-control estiloInputs rounded" style="width: 100%;" type="number" id="telefono" oninput="limitarLongitud(event)" name="telefono" min="0" placeholder="Ingrese N° Telefono">
	                    </div>
	                </div>
	            </div>
	            <div class="col mt-3">
	                <p class="textoInputs">Indica su ocupación:</p>
	                 <select th:field="*{catOcupacion.idCatOcupacion}" id="catOcupacion" class="form-select estiloInputs" style="width: 100%;" aria-label="Default select example">
						<option th:each="catOcupacion : ${ocupaciones}" th:value="${catOcupacion.idCatOcupacion}" th:text="${catOcupacion.nombreOcupacion}" class="subtitulo"></option>
	                </select>
	            </div>
	            <div class="mt-4" style="color: #6366F1;">
	                <p class="textoInputs">¿Es trabajador de la UNSIJ o SUNEO?</p>
	                <div class="mt-3">
	                    <input type="radio" class="input-outline-primary ms-4" th:field="*{trabajadorSuneo}" id="apoyoSi" name="trabajadorSuneo" value="1" style="color: #6366F1;">
	                    <label for="apoyoSi" style="color:#6C757D;" class="me-5">Si</label>
	                    <input type="radio" class="input-outline-primary" th:field="*{trabajadorSuneo}" id="apoyoNo" name="trabajadorSuneo" value="0" style="color: #6366F1;">
	                    <label for="apoyoNo" style="color:#6C757D;" class="mb-5">No</label>
	                </div>
	            </div>
            </div>

            <div class="col-10 col-xs-2 col-sm-10 col-md-9 col-xl-6  rounded colorFondo m-2 p-4 ms-4">
                <h3 style="color: #6366F1;">Domicilio</h3>
                <p class="subtitulo">Indica la dirección de la persona de quien se depende económicamente, si éste es el caso, o de lo contrario, a la persona que se pueda localizar para aclaraciones.</p>
                <div class="mt-1" style="color: #6366F1;" >
                    <p>¿El domicilio de tu tutor coincide con el que te encuentras actualmente?</p>
                    <div class="mt-1" style="margin-left: 1cm;">
                        <input type="radio" class="input-outline-primary " id="apoyoSi" name="domicilio" value="1" style="color: #6366F1;" onclick="toggleContent()">
                        <label for="apoyoSi" style="color:#6C757D;" class="me-5">Si</label>
                        <input type="radio" class="input-outline-primary" id="aopyoNo" name="domicilio" value="0" style="color: #6366F1;" onclick="toggleContent()">
                        <label for="apoyoNo" style="color:#6C757D;" class="me-5">No</label>
                    </div><br> 
                </div>
                
				<div id="contentDomicilio">
					 <div class="ps-4 pe-4">
	                    <div class="row">
	                        <div class="col">
	                            <p class="textoInputs">Estado</p>
								<!--							 -->
			                    <select id="selectEstados" th:field="*{domicilio.catLocalidad.catMunicipio.catEstado.idCatEstado}"  onclick="obtenerMunicipios()" class="form-select estiloInputs" style="width: 96%;" aria-label="Default select example">
									<option th:each="catEstado : ${estados}" th:value="${catEstado.idCatEstado}" th:text="${catEstado.nombreEstado}"  class="subtitulo"></option>
			                    </select>
	                        </div>
	                        <div class="col">
	                            <p class="textoInputs">Municipio</p>
								<!--th:field="*{domicilio.catLocalidad.catMunicipio.catIdMunicipio}"-->
	                            <select id="selectMunicipios" onchange="handleSelectChange(event)"  onclick="obtenerLocalidad()"  class="form-select estiloInputs" style="width: 96%;" aria-label="Default select example">
	                                <option selected class="subtitulo">Elige una opción</option>
	                            </select>
	                        </div>
	                    </div>
	                    <div class="row mt-4">
	                        <div class="col">
	                            <p class="textoInputs">Localidad</p>
								<!--th:field="*{domicilio.catLocalidad.idLocalidad}"--> 
	                            <select id="selectLocalidades"  name="domicilio.catLocalidad"  onchange="ocLocalidad(event)" onclick="obtenerCodigoPostal()" class="form-select estiloInputs" style="width: 96%;" aria-label="Default select example">
	                                <option  selected class="subtitulo">Elige una opción</option>
	                            </select>
	                        </div>
	                        <div class="col">
	                            <p class="textoInputs">Colonia o barrio</p>
	                            <select name="domicilio.coloniaBarrio" class="form-select estiloInputs" style="width: 96%;" aria-label="Default select example">
	                                <option selected class="subtitulo">Elige una opción</option>
	                                <option value="1" class="subtitulo">Colonia o barrio 1</option>
	                                <option value="2" class="subtitulo">Colonia o barrio 2</option>
	                                <option value="3" class="subtitulo">Colonia o barrio 3</option>
	                            </select>
	                        </div>
	                    </div>
	                    <div class="row mt-4">
	                        <div class="col">
	                            <p class="textoInputs">Distrito</p>
	                            <select class="form-select estiloInputs" style="width: 96%;" aria-label="Default select example">
	                                <option selected class="subtitulo">Elige una opción</option>
	                                <option value="1" class="subtitulo">Distrito 1</option>
	                                <option value="2" class="subtitulo">Distrito 2</option>
	                                <option value="3" class="subtitulo">Distrito 3</option>
	                            </select>
	                        </div>
	                        <div class="col">
	                            <p class="textoInputs">Región</p>
	                            <select class="form-select estiloInputs" style="width: 96%;" aria-label="Default select example">
	                                <option selected class="subtitulo">Elige una opción</option>
	                                <option value="1" class="subtitulo">Región 1</option>
	                                <option value="2" class="subtitulo">Región 2</option>
	                                <option value="3" class="subtitulo">Región 3</option>
	                            </select>
	                        </div>
	                    </div>
	                </div>
	
	                <div class="row ms-3 mt-4 me-3">
	                    <div class="col">
	                        <label>Calle</label>
	                        <input th:field="*{domicilio.calle}" type="text" class="form-control estiloInputs rounded" style="width: 100%;" id="calle" name="domicilio.calle" placeholder="Nombre de la calle">
	                    </div>
	                    <div class="col">
	                        <label>Numero</label>
	                        <input th:field="*{domicilio.numero}" type="text" class="form-control estiloInputs rounded" style="width: 100%;" id="numero" name="domicilio.numero" placeholder="Número">
	                    </div>
	                    <div class="col">
	                        <label>Codigo postal</label>
	                        <input th:field="*{domicilio.catLocalidad.catCodigoPostal.numeroCodigoPostal}" type="text" class="form-control estiloInputs rounded" style="width: 100%;" id="cp" name="cp" placeholder="">
	                    </div>
	                </div>
				</div>
               
         	</div>
         	
         	<!--GASTOS E INGRESOS-->
            <div class="col-10 col-xs-2 col-sm-12 col-md-12 col-xl-11 col-lg-11 rounded colorFondo m-2 p-4 ms-4">
	            <h3 style="color: #6366F1;">Gastos e ingresos</h3>
	            <div class="row-auto">
	                <div class="col-12 mt-3 me-5" style="margin-right: 200%; padding-right: -50%;">
	                    <p class="textoInputs">¿A cuánto hacienden tus gastos mensuales de manutención?</p>
	                    <p class="subtitulo">Lo que pagas de alimentación, transporte, vivienda, servicios médicos, libros y materiales escolares, entretenimiento, etc. (Por favor no incluyas los gastos en colegiatura e inscripciones de la universidad)</p>
	                    <input type="text" class="form-control estiloInputs" style="width: 50%;"  id="inputNombre" placeholder="">
	                </div>
	                <div class="col-12 mt-3">
	                    <p class="textoInputs">¿Dependes económicamente?</p>
	                    <div style="display: flex; justify-content: space-between;">
	                        <div style="width: 100%;">
	                            <div class="form-check">
	                                <input class="form-check-input" type="radio" name="flexRadioDefault88" id="flexRadioDefault2">
	                                <label class="form-check-label" for="flexRadioDefault1">
	                                    <p class="subtitulo">Si</p>
	                                </label>
	                            </div>
	                        </div>
	                        <div style="width: 100%;">
	                            <div class="form-check">
	                                <input class="form-check-input" type="radio" name="flexRadioDefault88" id="flexRadioDefault2">
	                                <label class="form-check-label" for="flexRadioDefault2">
	                                    <p class="subtitulo">No</p>
	                                </label>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="line mx-auto mt-5" style="width: 80%;"></div>
	            <div class="row-auto">
	                <div class="col-12 mt-3">
	                    <p class="textoInputs">Nombre de la persona de la cuál dependes económicamente:</p>
	                    <input type="text" class="form-control estiloInputs" style="width: 50%;"  id="inputNombre" placeholder="">
	                </div>
	            </div>
	            <div class="row-auto">
	                <div class="col-12 mt-3">
	                    <p class="textoInputs">El trabajo de quien dependes es:</p>
	                    <div style="display: flex; justify-content: space-between;">
	                        <div style="width: 100%;">
	                            <div class="col-12 form-check">
	                                <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault2">
	                                <label class="form-check-label" for="flexRadioDefault1"><p class="subtitulo">Temporal</p></label>
	                            </div>
	                        </div>
	                        <div style="width: 100%;">
	                            <div class="form-check">
	                                <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault2">
	                                <label class="form-check-label" for="flexRadioDefault2"><p class="subtitulo">Permanente</p></label>
	                            </div>
	                        </div>
	                    </div>
	                </div>
            	</div>
            </div>
         
        <div class="d-flex justify-content-center mt-5">
 			<button class="btn btn-outline-primary hBtn mt-3 estiloBoton me-5" type="submit" role="button">Guardar</button>
            <button class="btn btn-outline-success mt-3 ">Enviar</button>
    	</div>
    	
    	<input type="hidden" id="idCatEstado" th:value="*{domicilio.catLocalidad.catMunicipio.catEstado.idCatEstado}"/>
    	<input type="hidden" id="idCatMunicipio" th:value="*{domicilio.catLocalidad.catMunicipio.idCatMunicipio}"/>
    	<input type="hidden" id="idCatLocalidad" th:value="*{domicilio.catLocalidad.idCatLocalidad}"/>

	</form>
       
    <footer th:insert="fragments/footer.html :: footer"/>
    
    <script>
		function toggleContent() {
            var content = document.getElementById('contentDomicilio');
            var radios = document.getElementsByName('domicilio');
            for (var i = 0; i < radios.length; i++) {
                if (radios[i].checked && radios[i].value === '1') {
                    content.classList.add('hidden');
                } else if (radios[i].checked && radios[i].value === '0') {
                    content.classList.remove('hidden');
                }
            }
        }
	</script>
    
    
    <script src="../javaScript.js/funcionamiento.js"></script>
</body>
</html>

