<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi tutor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/style.css" th:href="@{/css/style.css}">
    
</head>
<body>
	
     <header  th:insert="fragments/navAlumnos.html :: menu-nav"/>

     <div class="m-5 mt-3">
        <div class="row" >
            <ol class="p-1 colorFondo breadcrumb bread-primary ">
                <a th:href="@{/}" style="text-decoration: none;">
                    <button class="btn camino" >Inicio</button>
                </a>
                <a th:href="@{/alumno/menuSolicitar}" style="text-decoration: none;">
                    <button class="btn camino" >Solicitud</button> 
                </a>
                <a style="text-decoration: none;">
                    <button class="btn btn-primary camino" style="background-color: #4F46E5; ">Dependiente
                        economico</button>
                </a>   
            </ol>
        </div>	
    </div>
    
   
	<form th:action="@{/alumno/guardarTutor}" th:object="${tutorEconomico}" method="post">
		<h1 class="titulo ms-5 mb-4" style="text-align:left;">DEPENDIENTE ECONOMICO </h1>


    <div class="row justify-content-center">
        <div class="col-10 col-xs-2 col-sm-10 col-md-10 col-xl-11 col-lg-10 rounded colorFondo p-4">
            <h3 style="color: #6366F1;">Gastos e ingresos</h3>
            <div class="row">
                <div class="col-12 mt-3">
                    <p class="textoInputs">¿A cuánto hacienden tus gastos mensuales de manutención?</p>
                    <p class="subtitulo" style="text-align: justify;">Lo que pagas de alimentación, transporte, vivienda, servicios médicos, libros y materiales escolares, entretenimiento, etc. (Por favor no incluyas los gastos en colegiatura e inscripciones de la universidad)</p>
                    <input type="text" class="form-control estiloInputs" style="width: 5em;"  id="inputNombre" placeholder="">
                </div>
                <div class="col-12 mt-3">
                    <p class="textoInputs">¿Dependes económicamente?</p>
                    <div class="d-flex">
                        <div style="width: 100%;">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault88" id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    <p class="subtitulo">Si</p>
                                </label>
                            </div>
                        </div>
                        <div style="width: 100%;">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault88" id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    <p class="subtitulo">No</p>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <p class="subtitulo ms-5 me-5 mt-4 mb-4" style="text-align: justify;">Datos del padre, madre o tutor o familiar más cercano (preferiblemente, del que se depende económicamente) </p>
        <div class=" row justify-content-center">
            <div class="col-10 col-xs-2 col-sm-10 col-md-10 col-xl-5 rounded colorFondo m-2 p-4 ms-4">
                <h3 style="color: #6366F1;">Información general</h3>
                <div class="col-12">
                    <p class="textoInputs">Nombre Completo</p>
                    <input th:field="*{nombreTutorEconomico}" class="estiloInputs rounded form-control" style="width: 100%;" type="text" id="nombreTutor" name="nombreTutorEconomico" placeholder="Ingrese el nombre completo">
                </div>
                
                <div class="col-12 pt-3">
                    <p class="textoInputs">Parentesco</p>

                <select th:field="*{catParentesco.idCatParentesco}" id="catParentesco" class="form-select estiloInputs" style="width: 100%;" aria-label="Default select example">
					<option th:each="catParentesco : ${parentescos}" th:value="${catParentesco.idCatParentesco}" th:text="${catParentesco.nombreParentesco}" class="subtitulo"></option>
                </select>

            </div>
            <div class="col-12 pt-3">
                <div class="d-flex">
                    <div style="width: 100%;" class="me-4">
                        <p class="textoInputs">Correo electronico</p>
                        <input th:field="*{correo}" type="text" class="form-control estiloInputs rounded" style="width: 100%;" id="correo" name="correo" placeholder="Ingrese su correo electronico">
                    </div>
                    <div style="width: 100%;">
                        <p class="textoInputs">Telefono</p>
                        <div class="form-check">
                            <input th:field="*{telefono}" class="form-control estiloInputs rounded" style="width: 100%;" type="number" id="telefono" oninput="limitarLongitud(event)" name="telefono" min="0" placeholder="Ingrese N° Telefono">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mt-3">
                <p class="textoInputs">Indica su ocupación:</p>
                    <select th:field="*{catOcupacion.idCatOcupacion}" id="catOcupacion" class="form-select estiloInputs" style="width: 100%;" aria-label="Default select example">
                    <option th:each="catOcupacion : ${ocupaciones}" th:value="${catOcupacion.idCatOcupacion}" th:text="${catOcupacion.nombreOcupacion}" class="subtitulo"></option>
                </select>
            </div>
            <div class="mt-4" style="color: #6366F1;">
                <p class="textoInputs">¿Es trabajador de la UNSIJ o SUNEO?</p>
                <div class="mt-3">
                    <input type="radio" class="input-outline-primary ms-4" id="apoyoSi" name="trabajadorSuneo" value="si" style="color: #6366F1;">
                    <label for="apoyoSi" style="color:#6C757D;" class="me-5">Si</label>
                    <input type="radio" class="input-outline-primary" id="aopyoNo" name="trabajadorSuneo" value="no" style="color: #6366F1;">
                    <label for="apoyoNo" style="color:#6C757D;" class="mb-5">No</label>
                </div>
            </div>
            
            </div>

            <div class="col-10 col-xs-2 col-sm-10 col-md-10 col-xl-6  rounded colorFondo m-2 p-4">
                <h3 style="color: #6366F1;">Domicilio</h3>
                <p class="subtitulo" style="text-align: justify;">Indica la dirección de la persona de quien se depende económicamente, si éste es el
                    caso, o de lo contrario, a la persona que se pueda localizar para aclaraciones.</p>
                <div class="mt-1" style="color: #6366F1;" >
                    <p>¿El domicilio de tu tutor coincide con el que te encuentras actualmente?</p>
                    <div class="mt-1 ms-4 mb-3">
                        <input type="radio" class="input-outline-primary " id="apoyoSi" name="domicilio" style="color: #6366F1;">
                        <label for="apoyoSi" style="color:#6C757D;" class="me-5">Si</label>
                        <input type="radio" class="input-outline-primary" id="aopyoNo" name="domicilio" style="color: #6366F1;">
                        <label for="apoyoNo" style="color:#6C757D;" class="me-5">No</label>
                    </div>
                </div>
                
                <div class="ps-4 pe-4">
                    <div class="row">
                        <div class="col">
                            <p class="textoInputs">Estado</p>
                            <select id="selectEstados" onclick="obtenerMunicipios()" class="form-select estiloInputs" style="width: 96%;" aria-label="Default select example">
                                <option selected class="subtitulo">Elige una opción</option>
								<option th:each="estado : ${estados}" th:value="${estado.idCatEstado}" th:text="${estado.nombreEstado}"  class="subtitulo"></option>
                            </select>
                        </div>
                        <div class="col">
                            <p class="textoInputs">Región</p>
                            <select class="form-select estiloInputs" style="width: 96%;" aria-label="Default select example">
                                <option selected class="subtitulo">Elige una opción</option>
                                <option value="1" class="subtitulo">Región 1</option>
                                <option value="2" class="subtitulo">Región 2</option>
                                <option value="3" class="subtitulo">Región 3</option>
                            </select>
                        </div>
                        
                    </div>
                    <div class="row mt-4">
                         <div class="col">
                            <p class="textoInputs">Distrito</p>
                            <select class="form-select estiloInputs" style="width: 96%;" aria-label="Default select example">
                                <option selected class="subtitulo">Elige una opción</option>
                                <option value="1" class="subtitulo">Distrito 1</option>
                                <option value="2" class="subtitulo">Distrito 2</option>
                                <option value="3" class="subtitulo">Distrito 3</option>
                            </select>
                        </div>
                        <div class="col">
                            <p class="textoInputs">Municipio</p>
                            <select id="selectMunicipios" onclick="obtenerLocalidad()"  class="form-select estiloInputs" style="width: 96%;" aria-label="Default select example">
                                <option selected class="subtitulo">Elige una opción</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <p class="textoInputs">Localidad</p>
                            <select id="selectLocalidades" name="domicilio.catLocalidad" onclick="obtenerCodigoPostal()" class="form-select estiloInputs" style="width: 96%;" aria-label="Default select example">
                                <option  selected class="subtitulo">Elige una opción</option>
                            </select>
                        </div>
                        <div class="col">
                            <p class="textoInputs">Colonia o barrio</p>
                            <select name="domicilio.coloniaBarrio" class="form-select estiloInputs" style="width: 96%;" aria-label="Default select example">
                                <option selected class="subtitulo">Elige una opción</option>
                                <option value="1" class="subtitulo">Colonia o barrio 1</option>
                                <option value="2" class="subtitulo">Colonia o barrio 2</option>
                                <option value="3" class="subtitulo">Colonia o barrio 3</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row ms-3 mt-4 me-3">
                    <div class="col">
                        <label>Calle</label>
                        <input type="text" class="form-control estiloInputs rounded" style="width: 100%;" id="calle" name="domicilio.calle" placeholder="">
                    </div>
                    <div class="col">
                        <label>Numero</label>
                        <input type="text" class="form-control estiloInputs rounded" style="width: 100%;" id="numero" name="domicilio.numero" placeholder="">
                    </div>
                    <div class="col">
                        <label>C.P.</label>
                        <input type="text" class="form-control estiloInputs rounded" style="width: 100%;" id="cp" name="cp" placeholder="">
                    </div>
                </div>
         </div>
         
     	<div class="d-flex flex-row mt-5  gap-5 col-12 justify-content-center">
 			<button class="btn btn-outline-primary hBtn mt-3  estiloBoton" type="submit" role="button">Guardar</button>
             <button class="btn btn-outline-success mt-3 ">Enviar</button>
        </div> 
	</form>
       
    <footer th:insert="fragments/footer.html :: footer"/>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../javaScript.js/funcionamiento.js"></script>
</body>
</html>

